/*! Sagefy partial */

/* Basic tag changes **********************************************************/

/* A little more dramatic form inputs and buttons */
input,
textarea {
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
}

button,
[type='submit'],
[type='button'],
[type='reset'] {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}

/* Pretty much every form is vertical so... */
label {
  display: block;
}

/* Tables are layout and data here,
   progress should be the full page */
table,
progress {
  width: 100%;
}

/* Make important summary elements stand out a little more */
summary > *:first-child {
  text-decoration: underline;
}

/* Just for pretty */
iframe {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Utility classes ************************************************************/

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.va-m {
  vertical-align: middle;
}

.ls-n,
.ls-i {
  list-style: none;
  padding-left: 0;
}

.ls-i li {
  display: inline-block;
  margin-right: 2rem;
}

.ls-i li:last-child {
  margin-right: 0;
}

.m-yc > *:not(:first-child) {
  margin-top: 0;
}

.m-yc > *:not(:last-child) {
  margin-bottom: 0;
}

.d-ib {
  display: inline-block;
}

.d-i {
  display: inline;
}

/* Elements *******************************************************************/

/* The icons look "too high up",
   and icons should be lighter to not outweigh text */
.Icon {
  bottom: -2px;
  position: relative;
  opacity: 0.7;
}

/* This cuts down on the HTML length considerably */
.Icon svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
