{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "indent": ["error", 2],
    // "max-len": ["error", 80],
    "max-depth": ["error", 4],
    // "max-lines": ["error", 300],
    "max-params": ["error", 3],
    // "max-statements": ["error", 14],
    "max-statements-per-line": ["error", { "max": 2 }],
    "no-negated-condition": "error",
    // "complexity": ["error", 10],
    "no-useless-call": "error",
    "no-extra-parens": ["error", "all", { "nestedBinaryExpressions": false }],

    "no-param-reassign": "off",
    "no-use-before-define": "off",
    "consistent-return": "off",
    "radix": "off",
    "no-plusplus": "off",
    "no-nested-ternary": "off",

    // temporary
    "no-mixed-operators": "off",
    "no-loop-func": "off",
    "no-shadow": "off",
    "object-shorthand": "off",
    "arrow-body-style": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "no-confusing-arrow": "off"
  }
}
