/*! Sagefy partial */

/* A little more dramatic form inputs and buttons. */
input,
textarea,
select {
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
}

button,
[type='submit'],
[type='button'],
[type='reset'] {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}

/* Pretty much every form is vertical so... */
label {
  display: block;
}

/* Tables are layout and data here,
   progress should be the full page. */
table,
progress {
  width: 100%;
}

/* Make important summary elements stand out a little more. */
summary > *:first-child {
  text-decoration: underline dotted;
}

/* The icons look "too high up",
   and icons should be lighter to not outweigh text. */
.Icon {
  bottom: -2px;
  position: relative;
  opacity: 0.7;
}

/* This cuts down on the HTML length considerably. */
.Icon svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Users probably won't expect yellow for a correct answer. */
mark.good {
  background: #c6ffc6; /* 128-100-95 */
}

@media (prefers-color-scheme: dark) {
  mark.good {
    background: #005302; /* 128-100-30 */
  }
}

/* Adding shadows for decoration. */
iframe,
.LearnPagePage img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

button,
[type='submit'],
[type='button'] {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

[type='reset'] {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

:disabled {
  box-shadow: none;
}

/* Resize subject page header images */
.SubjectPage header img {
  max-height: 10rem;
  width: 100%;
  object-fit: 'cover';
}
