/*
---
title: Forms
description: Forms are perhaps the most complicated part of any web design. The Sagefy style guide provides a usable, consistent, comprehensive approach to form elements. Forms typically have only a single column of fields. Most forms terminate with one, and only one, primary action button and several possible secondary actions. Most standard forms start with a title and short description of the form.
example: |
    <form>
        <h3>
            A basic form
        </h3>
        <div class="form-description">
            A description of a basic form.
        </div>
        <div class="form-field form-field--text">
            <label for="name">Name</label>
            <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
            <p class="form-field__description">
                Your name belongs in the box
            </p>
        </div>
        <div class="form-field form-field--boolean">
            <label for="spam">
                <input name="spam" id="spam" type="checkbox" value="y">
                Send me spam
            </label>
        </div>
        <div class="form-field form-field--textarea">
            <label for="thoughts">My thoughts on spam</label>
            <textarea cols="40" id="thoughts" name="thoughts" rows="4"></textarea>
        </div>
        <button type="submit">
            <i class="fa fa-check"></i>
            Send
        </button>
    </form>
---
*/

/*
---
title: Placeholders
description: Placeholders provide the user with an example of the what the field should contain. Typically, include _e.g._ at the beginning. Do not use placeholder in place of labels.
example: |
    <input type="text" placeholder="e.g. Placeholder" />
---
*/

::-webkit-input-placeholder
    color $base-color(90)

::-moz-placeholder
    color $base-color(90)

:-ms-input-placeholder
    color $base-color(90)

input:-moz-placeholder
    color $base-color(90)

/*
---
title: Text Inputs
description: Range elements do not use sliders. Instead, ranges are input as two text fields.
example: |
    <form>
        <div class="form-field form-field--text">
            <input type="text" placeholder="Example text input" />
        </div>

        <div class="form-field form-field--text form-field--disabled">
            <label>Disabled</label>
            <input type="text" placeholder="Example disabled" disabled="disabled" />
        </div>

        <div class="form-field form-field--text form-field--good">
            <label>Success</label>
            <input type="text" placeholder="Example success" />
            <span class="form-field__feedback">
                <i class="fa fa-check"></i>
                This is a success
            </span>
        </div>

        <div class="form-field form-field--text form-field--bad">
            <label>Error</label>
            <input type="text" placeholder="Example error" />
            <span class="form-field__feedback">
            <i class="fa fa-exclamation"></i>
                This is an error
            </span>
        </div>
    </form>

    <input type="email" placeholder="e.g. alice@example.com" />

    <input type="number" placeholder="0" />

    <input type="url" placeholder="e.g. https://google.com" />

    <input type="time" step="1" />

    <input type="search" placeholder="Search" />

    <input type="search" placeholder="Search" autocomplete="off" />

    <input type="tel" placeholder="e.g. 515-481-9182" />

    <input type="password" />

    <input type="number" placeholder="Min" />
    <input type="number" placeholder="Max" />
---
*/

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="search"],
input[type="tel"],
textarea
    border 1px solid $base-color(78)
    background white
    border-radius $border-radius
    line-height $unit * 2
    box-shadow inset 0 1px 2px $base-color(95), 0 1px 0 white
    transition box-shadow 0.2s
    max-width 100%

    &:hover, &:focus, &.hover, &.focus
        border-color $base-color(66)
        outline 0

    &:focus, &.focus
        box-shadow inset 0 1px 2px $base-color(95), 0 0 1px 1px $base-color(78)

    &[disabled], &.disabled
        background none
        cursor not-allowed

        &:hover, &:focus, &.hover, &.focus, &:focus, &.focus
            border-color $base-color(78)
            box-shadow none

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="search"],
input[type="tel"]
    padding ($unit / 2) $unit

/*
---
title: Textarea
description: Text areas are for larger text entry that a normal `input`.
example: |
    <textarea cols="40" id="thoughts" name="thoughts" rows="4"></textarea>
---
*/

textarea
    padding ($unit / 2) $unit

/*
---
title: Checkboxes and Radios
description: Checkboxes and radios receive some special styling in Chrome and Safari.
example: |
    <ul class="unstyled">
        <li>
            <label class="checkbox">
                <input type="checkbox" value="option1"> Option 1
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" value="option1"> Option 2
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" value="option1"> Option 3
            </label>
        </li>
    </ul>

    <label class="checkbox">
        <input type="checkbox" value="option1"> Option 1
    </label>

    <label class="toggle">
        <input type="checkbox" value="option1"> Option 1
    </label>

    <ul class="unstyled">
        <li>
            <label class="radio">
                <input type="radio" name="radio" value="option1"> Option 1
            </label>
        </li>
        <li>
            <label class="radio">
                <input type="radio" name="radio" value="option1"> Option 2
            </label>
        </li>
        <li>
            <label class="radio">
                <input type="radio" name="radio" value="option1"> Option 3
            </label>
        </li>
    </ul>
---
*/

input[type="checkbox"],
input[type="radio"]
    -webkit-appearance none
    -webkit-user-select none
    background white
    border 1px solid $base-color(78)
    margin 0 1px 0 0
    bottom 2px
    height 13px
    position relative
    vertical-align middle
    width 13px
    box-shadow inset 0 1px 2px $base-color(95), 0 1px 0 white

    &:checked
        border 1px solid $accent-color(78)

        &::before
            -webkit-user-select none
            content ''
            display block
            background $accent-color(66)
            border 1px solid white
            width 100%
            height 100%

    &:focus, &.focus
        outline 0
        box-shadow inset 0 1px 2px $base-color(95), 0 0 1px 1px $base-color(78)

        &:checked
            box-shadow inset 0 1px 2px $base-color(95), 0 0 1px 1px $accent-color(78)

    &[disabled], &.disabled
        background none
        cursor not-allowed

        &:focus, &.focus
            box-shadow none

input[type="checkbox"]
    border-radius $border-radius

    &:checked::before
        border-radius $border-radius

input[type="radio"]
    border-radius 100%

    &:checked::before
        border-radius 100%

/*
---
title: Field Labels
description: Every field that is not in a horizontal form has a label. The label clicks to focus on the related form element. Forms typically have labels above the field.
example: |
    <form>
        <div class="form-field form-field--text">
            <label for="name">Name</label>
            <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
        </div>
    </form>
---
*/

/*
---
title: Optional and Required Fields
description: The label may contain a <code>span</code> with either <code>optional</code> or <code>required</code> as the class and copy to indicate the field is either required or optional. More useful for forms with more than three fields or several sections.
example: |
    <form>
        <div class="form-field form-field--text">
            <label for="name">Name <span class="required">required</span></label>
            <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
        </div>
    </form>
---
*/

form label
    display block

    .required, .optional
        @extend .font-size-small
        border-radius $border-radius
        margin-left $gutter
        padding 0 ($unit / 4)

    .required
        color $bad-color(60)

    .optional
        color $base-color(60)

    &.disabled
        color $base-color(70)

/*
---
title: Fieldsets and Legends
description: Many users have difficult with forms with more than three fields. In such situations, it is useful to group the fields into fieldsets and legends to segment the field. These fieldsets can also be constructed as a step-by-step wizard.
example: |
    <form>
        <div class="form-field form-field--text">
            <label for="name">Name</label>
            <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
            <p class="form-field__description">
                Your name belongs in the box
            </p>
        </div>
        <fieldset>
            <legend>Spam Fields</legend>
            <div class="form-field form-field--boolean">
                <label for="spam">
                    <input name="spam" id="spam" type="checkbox" value="y">
                    Send me spam
                </label>
            </div>
            <div class="form-field form-field--textarea">
                <label for="thoughts">My thoughts on spam</label>
                <textarea cols="40" id="thoughts" name="thoughts" rows="4"></textarea>
            </div>
        </fieldset>
        <button type="submit">
            <i class="fa fa-check"></i>
            Send
        </button>
    </form>
---
*/

fieldset
    border 1px solid $base-color(78)
    margin 0
    padding 0 1em
    border-radius $border-radius

legend
    color $base-color(43)

/*
---
title: Select
description: The select component, more often used than the native select, uses checkboxes and radios and smartly updates based on the number of options
example: |
    <span class="select">
        <ul class="unstyled">
            <li>
                <label>
                    <input type="radio" value="post" name="kind">
                    Post
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" value="proposal" name="kind">
                    Proposal
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" value="vote" name="kind">
                    Vote
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" value="flag" name="kind">
                    Flag
                </label>
            </li>
        </ul>
    </span>
---
*/

.select ul
    margin-top 0

.select label
    cursor pointer

    &.disabled
        cursor not-allowed

/*
---
title: Form Description
description: A form may need an explanation as to why the data is required from the user.
example: |
    <form>
        <h3>
            A basic form
        </h3>
        <div class="form-description">
            A description of a basic form.
        </div>
    </form>
---
*/

.form-description
    @extend .font-size-accent
    color $base-color(43)

/*
---
title: Form Fields
description: Form fields are wrapped in a class of <code>form-field</code> and the type of the form field, such as <code>form-field--text</code>.
---
*/

.form-field
    margin 1em 0

/*
---
title: Field Descriptions
description: In the standard vertical layout, each form field may have a short description below the field. These descriptions are particularly useful when the user may not understand the expected input, or has reservations about why the field is necessary or beneficial. Fields typically have descriptions below the field.
example: |
    <form>
        <div class="form-field form-field--text">
            <label for="name">Name</label>
            <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
            <p class="form-field__description">
                We need a name to identify you to other users.
            </p>
        </div>
    </form>
---
*/

.form-field__description
    margin 0
    color $base-color(60)
    font-style italic

/*
---
title: Grouped Inputs
description: Grouped inputs are useful for data entry where the data points are very closely related. Otherwise, prefer to stick with one column forms.
example: |
    <form>
        <div class="form-field--grouped">
            <div class="form-field form-field--text">
                <label for="given-name">Given Name</label>
                <input id="given-name" name="given-name" placeholder="" size="20" type="text" />
            </div>
            <div class="form-field form-field--text">
                <label for="family-name">Family Name</label>
                <input id="family-name" name="family-name" placeholder="" size="20" type="text" />
            </div>
        </div>
    </form>
---
*/

.form-field--grouped
    .form-field
        display inline-block

/*
---
title: Horizontal Forms
description: Most of the time, the verical form is for the best. For small forms, it may be easier to lay them out horizontally. In this one case, it can be necessary to use placeholders as labels.
example: |
    <form class="form--horizontal">
        <div class="form-field form-field--search">
            <input id="name" name="name" placeholder="Search" size="20" type="search" />
        </div>
        <div class="form-field form-field--boolean">
            <label for="spam">
                <input name="spam" id="spam" type="checkbox" value="y">
                Include all types
            </label>
        </div>
        <button type="submit">
            <i class="fa fa-search"></i>
            Search
        </button>
    </form>
---
*/

.form--horizontal
    > *
        display inline-block
        @extend .push-right

/*
---
title: Disabled Form Fields
description: Disabling for elements causes them to lose opacity.
example: |
    <form>
        <div class="form-field form-field--text form-field--disabled">
            <label>Disabled</label>
            <input type="text" placeholder="Example disabled" disabled="disabled" />
        </div>
    </form>
---
*/

.form-field--disabled
    label
        color $base-color(66)

/*
---
title: Form Feedback
description: Forms typically have validation messages to the right of the field.
example: |
    <form>
        <div class="form-field form-field--text form-field--good">
            <label>Success</label>
            <input type="text" placeholder="Example success" />
            <span class="form-field__feedback">
                <i class="fa fa-check"></i>
                This is a success
            </span>
        </div>
    </form>
---
*/

.form-field__feedback
    display inline-block
    border-radius $border-radius
    padding 0 ($unit / 2)

.form-field--good
    label
        color $good-color(66)

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="time"],
    input[type="search"],
    input[type="tel"],
    textarea,
    input[type="checkbox"],
    input[type="radio"]
        color $good-color(50)
        border-color $good-color(66)

    .form-field__feedback
        background $good-color(95)
        color $good-color(60)

.form-field--bad
    label
        color $bad-color(66)

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="time"],
    input[type="search"],
    input[type="tel"],
    textarea,
    input[type="checkbox"],
    input[type="radio"]
        color $bad-color(66)
        border-color $bad-color(66)

    .form-field__feedback
        background $bad-color(95)
        color $bad-color(60)
