#styleguide
    .size-table
        text-align center

    .color-table
        td, th
            padding ($unit / 2)

        th
            font-weight normal

        td
            text-align right

    #logo
        vertical-align top
        height $unit * 6
        margin-top $gutter