_site
__pycache__
.cache
.coverage
.DS_Store
.installed.cfg
.jekyll-metadata
.mr.developer.cfg
.project
.pydevproject
.tox
.vagrant
*.egg
*.egg-info
*.mo
*.py[cod]
*.pyc
*.so
*console.log
bin
build
coverage
develop-eggs
dist
eggs
htmlcov
html/*
kibana
lib
lib64
node_modules
nosetests.xml
npm-debug.log
parts
pip-log.txt
rethinkdb_data
rethinkdb_dump_*
sdist
tmp
distribution
npm-debug.log
client/app/content
*.data.json
var
sagefy_rsa.pub
elasticsearch-*
rethinkdb-bu
elasticsearch-data
postgres-data
postgres-test-data
nginx/statics/index.css
nginx/statics/index.js
nginx/statics/index2.css
nginx/statics/index2.js
nginx/statics/index2.js.map
dbbu
yarn-error.log
server_dist
