_site
__pycache__
.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
.vagrant
*.egg
*.egg-info
*.mo
*.py[cod]
*.pyc
*.so
api/config.py
bin
build
config.py
develop-eggs
dist
eggs
htmlcov
kibana
lib
lib64
node_modules
nosetests.xml
npm-debug.log
parts
pip-log.txt
rethinkdb_data
sdist
tmp
distribution
npm-debug.log
ui/app/content
*.data.json
var
