/*
---
title: Body Element
description: |
    The `body` tag is centered by default, and sets up basic typographical adjustments.

    For more on excellent web typography, check out [Practical Typography](http://practicaltypography.com/).
---
*/

html, body
    margin 0 auto

body
    overflow-y scroll
    overflow-x hidden
    padding $unit * 2
    color $base-color(20)
    background $base-color(99)

html, body, input, textarea, select, button
    @extend $base-font
    @extend $font-size-normal

main
    @extend $page
