/*
---
title: Border Box
description: |
    Sagefy uses the box sizing mode of border box. See the [Paul Irish article](http://www.paulirish.com/2012/box-sizing-border-box-ftw/).
---
*/
*, *:before, *:after
    box-sizing border-box
