/*
---
title: Fonts
description: |
    Sagefy uses Palatino for titles and large copy. Sagefy uses Georgia for body copy. Sagefy uses DejaVu Sans Mono derivatives for monospaced.

    - **Title**: "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", serif
    - **Base**: georgia, serif
    - **Monospace**: menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
---
*/

$title-font
    font-family "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", georgia, serif

$base-font
    font-family georgia, serif
    
$monospace-font
    font-family menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
