/*
---
title: Fonts
description: |
    Sagefy uses ___ for titles and body copy. Sagefy uses DejaVu Sans Mono derivatives for monospaced.

    - **Base**: ___
    - **Monospace**: menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
---
*/

$base-font
    font-family rubik, sans-serif

$monospace-font
    font-family menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
