/*
---
title: Fonts
description: |
    Sagefy uses Georgia for titles and body copy. Sagefy avoids 'bold' because Georgia is very heavy. Sagefy uses DejaVu Sans Mono derivatives for monospaced.

    - **Base**: georgia, serif
    - **Monospace**: menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
---
*/

$base-font
    font-family georgia, serif

$monospace-font
    font-family menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
