/*
---
title: Horizontal Rules
description: Horizontal rules are avoided as Sagefy prefers whitespace over lines. Rules are useful in certain situations, however.
---
*/

hr
  border 0
  background $base-color(90)
  height 2px
  margin $unit 0
