/*
---
title: Icons
description: |
    Sagefy uses [FontAwesome](https://fortawesome.github.io/Font-Awesome/) where applicable. Use the `i` tag for icons, not italics. When presenting icons, label the icon. If you must choose between an icon and text, prefer text.
---
*/

@import "../../../node_modules/font-awesome/css/font-awesome.css"

@font-face
    font-family 'FontAwesome'
    src url('fontawesome-webfont.woff?v=4.0.3') format('woff')
    font-weight normal
    font-style normal
