/*
---
title: Inline-level Elements
description: All normal tag operations are supported and provide expected results. Note that `b`, `s`, and `u`tags are not supported, and `i` tags are reserved for icons, not italics.
---
*/

b, strong
    @extend $title-font
    font-weight bold

del
    color $base-color(66)

ins
    text-decoration none
    background white
    border-radius $border-radius

mark
    background $base-color(95)
    border-radius $border-radius

abbr
    border-bottom 1px solid $base-color(66)

small
    @extend $font-size-small

code
    color $base-color(43)
