/*
---
title: Metrics
description: |
    Sagefy uses a larger-than-typical metric system. The rhythm is 24px both vertically and horizontally. The base font size is 16px with a line-height of 24px. Columns are 48px and gutters are 24px. Because of Sagefy's large metrics, a great deal of focus and minimalism is required.

    Different screen sizes alter the number of columns present. While Sagefy is not considered <a href="http://alistapart.com/article/responsive-web-design">responsive web design</a>, it does adjust to available width. Ideas are borrowed from <a href="http://framelessgrid.com/">Frameless Grid</a>, <a href="http://getbootstrap.com/">Twitter Bootstrap</a>, and <a href="http://foundation.zurb.com/">Foundation</a>.
---
*/

$unit = 12px
$gutter = $unit * 2
$column = $gutter * 2
$font-size = 16px
$border-radius = 2px
$max-columns = 20

/*
---
title: Box Sizing
description: |
    Sagefy uses the box sizing mode of border box. See the [Paul Irish article](http://www.paulirish.com/2012/box-sizing-border-box-ftw/).
---
*/
*, *:before, *:after
    box-sizing border-box

/*
---
title: Clearfix
description: |
    The `clearfix` class clears any floats within the element so it doesn't impact neighboring elements.
example: |
    <div class="clearfix">
        <div class="pull-left push-right">
            Left 1
        </div>
        <div class="pull-left push-right">
            Left 2
        </div>
        <div class="pull-left push-right">
            Left 3
        </div>
        <div class="pull-right">
            Right 3
        </div>
    </div>

    TODO move to being a placeholder only
---
*/
.clearfix
    &:before, &:after
        content " "
        display table

    &:after
        clear both

/*
---
title: Pull and Push Helpers
description: |
    These helpers can apply floating and margins to elements.
example: |
    <div class="pull-left">
        Pull left
    </div>
    <div class="pull-right">
        Pull right
    </div>
    <div class="push-left">
        Push left
    </div>
    <div class="push-right">
        Push right
    </div>
    <div class="push-left-gutter">
        Push left gutter
    </div>
    <div class="push-right-gutter">
        Push right gutter
    </div>

    # TODO eliminate these classes
---
*/
.pull-left
    float left

.pull-right
    float right

.push-left
    margin-left $unit

.push-left-gutter
    margin-left $gutter

.push-right
    margin-right $unit

.push-right-gutter
    margin-right $gutter

/*
---
title: Body Layout
description: The `body` element will use up to 20 columns of width in rendering, but will adapt to the user's available screen real estate.
example: |
    <table class="size-table">
        <thead>
            <tr>
                <th>Columns</th>
                <th>Inside</th>
                <th>Outside</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4</td>
                <td>264px</td>
                <td>312px</td>
            </tr>
            <tr>
                <td>6</td>
                <td>408px</td>
                <td>456px</td>
            </tr>
            <tr>
                <td>8</td>
                <td>552px</td>
                <td>600px</td>
            </tr>
            <tr>
                <td>10</td>
                <td>696px</td>
                <td>744px</td>
            </tr>
            <tr>
                <td>12</td>
                <td>840px</td>
                <td>888px</td>
            </tr>
            <tr>
                <td>14</td>
                <td>984px</td>
                <td>1032px</td>
            </tr>
            <tr>
                <td>16</td>
                <td>1128px</td>
                <td>1176px</td>
            </tr>
            <tr>
                <td>18</td>
                <td>1272px</td>
                <td>1320px</td>
            </tr>
            <tr>
                <td>20</td>
                <td>1416px</td>
                <td>1464px</td>
            </tr>
        </tbody>
    </table>
---
*/

cols(n)
    n * $column + (n - 1) * $gutter

html, body
    margin 0 auto

body
    overflow-y scroll
    overflow-x hidden

/*
---
title: Columns
description: |
    Any element may be set to a specific number of columns, using the class `col-n`. Any element with set columns larger than the available screen will be reduced to the maximum width.

    Borrows "magic" from [Bootstrap's grid system](http://www.helloerik.com/the-subtle-magic-behind-why-the-bootstrap-3-grid-works).
example: |
    <div class="column-demo row">
        <div class="col-2">col-2</div>
        <div class="col-6">col-6</div>
    </div>

    TODO move these to being placeholders only, not actual classes
---
*/
body
    padding $unit * 2

.row
    display -webkit-flex
    display flex
    flex-flow row wrap
    justify-content center
    margin -1 * $unit

.page
    @extend .row
    margin-bottom $unit * 3

for i in (1..$max-columns)
    .col-{i}
        flex-basis cols(i)
        max-width cols(i)
        padding $unit
