/*
---
title: Lists
description: |
    Unordered lists follow standard conventions. Line items do not hold extra margins. Only root-level unordered lists have a bottom margin. Ordered lists follow the standard conventions as well.
---
*/

ul, ol
    margin $unit 0
    padding-left $gutter

    ul, ol
        margin 0

$ul--inline
    padding-left 0

    li
        display inline-block
        margin-right $unit

$ul--unstyled
    list-style none
    padding 0

    ul, ol
        list-style none
        padding-left $gutter
