/*
---
title: Metrics
description: |
    Sagefy uses a larger-than-typical metric system. The rhythm is 26px both vertically and horizontally. The base font size is 18px with a line-height of 26px. Columns are 52px and gutters are 26px. Because of Sagefy's large metrics, a great deal of focus and minimalism is required.
---
*/

$unit = 13px
$gutter = $unit * 2
$column = $gutter * 2
$max-columns = 20

$border-radius = 2px
$box-shadow-light = 0 1px 3px rgba(0, 0, 0, 0.05)
$box-shadow-mid = 0 1px 3px rgba(0, 0, 0, 0.1)
