/*
---
title: Metrics
description: |
    Sagefy uses a larger-than-typical metric system. The rhythm is 24px both vertically and horizontally. The base font size is 16px with a line-height of 24px. Columns are 48px and gutters are 24px. Because of Sagefy's large metrics, a great deal of focus and minimalism is required.
---
*/

$unit = 12px
$gutter = $unit * 2
$column = $gutter * 2
$border-radius = 2px
$max-columns = 20
