/*
---
title: Vendor Mixins
description: |
    Whenever a wrapped property is called, all vendor prefixes are automatically added as well.

    The following properties receive vendor mixins:

    - border-radius
    - transition
    - animation
    - box-sizing
    - filter
    - flex-flow
    - justify-content
    - flex-basis
    - order
---
*/

vendor(property, args)
    -webkit-{property} args
    -moz-{property} args
    -ms-{property} args
    -o-{property} args
    {property} args

border-radius()
    vendor 'border-radius', arguments

transition()
    vendor 'transition', arguments

animation()
    vendor 'animation', arguments

box-sizing()
    vendor 'box-sizing', arguments

filter()
    vendor 'filter', arguments

flex-flow()
    vendor 'flex-flow', arguments

justify-content()
    vendor 'justify-content', arguments

flex-basis()
    vendor 'flex-basis', arguments

order()
    vendor 'order', arguments
