/*
---
title: Placeholders
description: Placeholders provide the user with an example of the what the field should contain. Typically, include _e.g._ at the beginning. Do not use placeholder in place of labels.
---
*/

::-webkit-input-placeholder
  color $base-color(90)

::-moz-placeholder
  color $base-color(90)

:-ms-input-placeholder
  color $base-color(90)

input:-moz-placeholder
  color $base-color(90)
