/*
---
title: Alerts & Errors
description: Systemic-alerts are often used when an error has occured. Alerts are fixed to the page until a user chooses to close them. Very serious alerts can force the user to reload the page. This situation calls for a modal.
elements:
    - div (root)
    - a.alert__close
modifiers:
    - error
    - default
    - accept
    - accent
example: |
    <div class="alert--error">
        We are sorry, but an error has occurred. Please reload the page.
        <a href="#" class="alert__close">Close</a>
    </div>

    <div class="alert--default">
        We are sorry, but an error has occurred. Please reload the page.
        <a href="#" class="alert__close">Close</a>
    </div>

    <div class="alert--accept">
        We are sorry, but an error has occurred. Please reload the page.
        <a href="#" class="alert__close">Close</a>
    </div>

    <div class="alert--accent">
        We are sorry, but an error has occurred. Please reload the page.
        <a href="#" class="alert__close">Close</a>
    </div>
---
*/


.alert
    border-radius $border-radius
    display block
    padding 0 ($unit / 2)
    margin $unit 0

    .alert__close
        float right

.alert--error,
.alert--danger
    @extend .alert
    background $red-90
    color $red-43

    .alert__close
        color $red-43
        border-color $red-43

.alert--success,
.alert--accept
    @extend .alert
    background $green-90
    color $green-43

    .alert__close
        color $green-43
        border-color $green-43

.alert--default,
.alert--warn
    @extend .alert
    background $gold-90
    color $gold-43

    .alert__close
        color $gold-43
        border-color $gold-43

.alert--info,
.alert--accent
    @extend .alert
    background $blue-90
    color $blue-43

    .alert__close
        color $blue-43
        border-color $blue-43
