/*
---
title: Discussion
description: |
    Discussions are common on just about any social site. A default layout helps to bring consistency to these discussions. Discussions can also be modified to achieve the goal of the widget.

    TODO: Style
elements:
modifiers:
example: |
    <ul class="discussion">
        <li>
            <img src="http://placehold.it/48/e7e3c7/aaa354" data-title="username" class="discussion__avatar" />
            <div class="discussion__message">
                <div class="discussion__user__name">
                    username
                </div>
                <div class="discussion__when">
                    52 minutes ago
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                </p>
                <div class="discussion__footer">
                    <a href="#">Edit</a>
                    <a href="#">Share</a>
                    <a href="#">Flag</a>
                </div>
            </div>
        </li>
    </ul>

    <table class="discussion-list">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Category</th>
                <th>Posts</th>
                <th>Views</th>
                <th>Last Modified</th>
            </tr>
        </thead>
    </table>
---
*/
