/*
---
title: Audio, Video, & Embedded Objects
description: Descovir uses YouTube, Vimeo, Soundcloud, Slideshare, and third party resources to render media elements. These elements are embedded by a simple <code>iframe</code> tag, with no customization other than size.
elements:
    - audio, video, object, iframe
example: |
    <iframe width="420" height="315" src="http://www.youtube.com/embed/z3U0udLH974" frameborder="0" allowfullscreen></iframe>
---
*/
