/*
---
title: Menu
description: |
    Sagefy's most common navigational element is a simple menu. The user clicks on the Sagefy icon, and a pane of menu options provides the user with more functionality. This helps to prevent cognitive overload.
example: |
    <div class="menu">
        <div class="menu__overlay"></div>
        <a href="#" class="menu__trigger">
            <div class="menu__logo"></div>
            <i class="menu__close fa fa-times-circle" style="display:none"></i>
        </a>
        <a href="#" class="menu__close"></a>
        <ul class="menu_items">
            <li>
                <a href="#">
                    <i class="fa fa-square"></i>
                    <div class="menu__item__title">
                        Menu Item
                    </div>
                </a>
            </li>
        </ul>
    </div>
---
*/

.menu
    display inline-block
    position fixed

    &.selected
        z-index 2
        display block
        top 0
        left 0
        width 100%
        height 100%

.menu--global
    @extend .menu

.menu__overlay
    display none
    background rgba($gold-20, 0.95)
    width 100%
    height 100%
    position fixed
    top 0
    left 0

    .selected &
        display block

.menu__trigger
    position fixed
    display inline-block
    bottom $unit
    left $unit
    border-bottom 0

    .menu__logo
        $h = $unit * 6
        height $h
        width ($h * 270.0 / 365.0)
        display block
        background-image url('/astrolabe.svg')
        background-size contain

        .selected &
            background-image url('/astrolabe_light.svg')

    &:hover .menu__close
        color $gold-90

.menu__close
    position absolute
    top 0
    right 0
    display none
    color $gold-66

    .selected &
        display inline-block

.menu__items
    @extend .row
    padding $unit
    display none
    position relative
    list-style none

    .selected &
        display flex

.menu__item
    @extend .col-2
    text-align center

    a
        color $gold-78
        border 0

    i
        color $gold-90
        @extend .font-size-epic

    &:hover
        a
            color $gold-90

        i
            color $gold-97
