/*
---
title: Navigation
description: Navigation for sections of the site.
elements:
    - nav (root)
    - ul/ol, li, a
modifiers:
    - horizontal
    - vertical
example: |
    <nav class="navigation--horizontal">
        <ul>
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li class="selected">
                <a href="#">
                    Learn
                </a>
            </li>
            <li>
                <a href="#">
                    Propose
                </a>
            </li>
            <li>
                <a href="#">
                    Analyze
                </a>
            </li>
        </ul>
    </nav>

    <nav class="navigation--vertical">
        <ul>
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li class="selected">
                <a href="#">
                    Learn
                </a>
            </li>
            <li>
                <a href="#">
                    Propose
                </a>
            </li>
            <li>
                <a href="#">
                    Analyze
                </a>
            </li>
        </ul>
    </nav>
---
*/

.navigation--vertical,
.navigation--horizontal
    ul, ol
        list-style none
        padding-left 0

    li.selected
        background $gold-95
        border-radius $border-radius

        a
            color $blue-43
            border-color $blue-43
            border-radius $border-radius

    a
        display block
        padding 0 ($unit / 2)

.navigation--horizontal
    li
        display inline-block
        margin-right $unit

.navigation--vertical
    a
        border-bottom 0
