/*
---
title: Progressbars
description: |
    For progress bars, use the <code>progress</code> tag.

    TODO Design and style
elements:
    - progress
        - span
example: |
    <progress max="70"><span>0</span>%</progress>
---
*/
