/*
---
title: Progressbars & Spinners
description: |
    Checkout <a href="http://tobiasahlin.com/spinkit/">spin kit</a> For progress bars, use the <code>progress</code> tag.

    TODO Design and style both
elements:
    - div.spin
    - progress
        - span
example: |
    <progress max="70"><span>0</span>%</progress>
---
*/
