/*
---
title: More Remarks
description: |
    ### Extending with BEM

    Non-tag elements in the Sagefy ecosystem use the <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM syntax</a>.

    ### Additions

    Prefer to add components to the general styleguide than inventing new components for specific interfaces. Reuse ensures code maintainability and efficiency.

    ### Browser Support

    At this time, Sagefy supports Firefox, Chrome, &amp; Safari, at the latest consumer version and the latest immediately-previous major consumer version. As of <time>2014 April 29</time>:

    - **Firefox**: 29, 28
    - **Chrome**: 34, 33
    - **Safari**: 7, 6

    ### Even More TODO...

    - Code syntax highlighter
    - Navigation, tabs, wizard, pagination script
    - Alerts script
    - Overlays &amp; Modals
    - Progress
    - Ratings
    - Accomplishments
    - Tips, Suggestions &amp; Inline Help
    - Galleries
    - Heros
    - Accordions
    - Statistics
    - Inline editing
    - Dropdowns
    - Uploading images
    - Calendar/date picker
    - Teasers

---
*/
