/*
---
title: Tabs
description: Tabs simulate folder tabs, giving a user a way to digest content in sections rather than all in one go.
elements:
    - __nav (ul)
    - __pages (div)
    - __page (div)
modifiers:
    - horizontal
    - vertical
    - selected (anchor)
example: |
    <div class="tabs--horizontal">
        <ul class="tabs__nav">
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li class="selected">
                <a href="#">
                    Learn
                </a>
            </li>
            <li>
                <a href="#">
                    Propose
                </a>
            </li>
            <li>
                <a href="#">
                    Analyze
                </a>
            </li>
        </ul>
        <div class="tabs__pages">
            <div class="tabs__page">Home Page</div>
            <div class="tabs__page selected">Learn Page</div>
            <div class="tabs__page">Propose Page</div>
            <div class="tabs__page">Analyze Page</div>
        </div>
    </div>

    <div class="tabs--vertical">
        <ul class="tabs__nav">
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li class="selected">
                <a href="#">
                    Learn
                </a>
            </li>
            <li>
                <a href="#">
                    Propose
                </a>
            </li>
            <li>
                <a href="#">
                    Analyze
                </a>
            </li>
        </ul>
        <div class="tabs__pages">
            <div class="tabs__page">Home Page</div>
            <div class="tabs__page selected">Learn Page</div>
            <div class="tabs__page">Propose Page</div>
            <div class="tabs__page">Analyze Page</div>
        </div>
    </div>
---
*/

.tabs__nav
    list-style none
    padding-left 0

    li.selected
        background $gold-95

        a
            color $blue-43
            border-color $blue-43

    a
        display block
        padding ($unit / 2) $unit
        border-bottom 0

.tabs__page
    display none
    opacity 0
    transition opacity 0.2s

    &.selected
        display block
        opacity 1

.tabs--horizontal
    .tabs__nav
        border-bottom 1px solid $gold-78

        li
            display inline-block
            margin-right $unit

            &.selected
                margin-bottom -1px

                a
                    border-left 1px solid $gold-78
                    border-right 1px solid $gold-78
                    border-bottom 1px solid $gold-95

.tabs--vertical
    @extend .clearfix

    .tabs__nav
        width cols(2)
        float left
        border-right 1px solid $gold-78

        li.selected
            margin-right -1px

            a
                border-top 1px solid $gold-78
                border-bottom 1px solid $gold-78
                border-right 1px solid $gold-95

    .tabs__pages
        margin $unit 0 $unit (cols(2) + $gutter)
