#home
    #logo
        margin $gutter auto 0
        height $unit * 10
        display block

    h1
        font-weight normal

    h1, h3, p
        text-align center

    h3
        margin-bottom $unit * 2

    .legal
        @extend .font-size-small
        color $base-color(43)
        margin-top $unit * 4
