/*
---
example: |
    <table class="topics">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Posts</th>
                <th>Views</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">Astronomy set too large</a></td>
                <td>10</td>
                <td>45</td>
                <td>4 hours ago</td>
            </tr>
            <tr>
                <td><a href="#">Split up astronomy set</a></td>
                <td>15</td>
                <td>105</td>
                <td>2 hours ago</td>
            </tr>
        </tbody>
    </table>
---
*/

.topics
    width 100%
