#card-learn
    .continue-wrap
        text-align right

.card-learn--progress
    position fixed
    z-index 2
    bottom 0
    left 0
    height 4px
    background $accent-color(70)
    transition width 1s linear
