.card-learn__progress
  position fixed
  z-index 2
  bottom 0
  left 0
  height ($unit / 2)
  background $accent-color(70)
  transition width 1s linear

.card-learn__options
  @extend $ul--unstyled

.card-learner__continue
  @extend $button--accent

.card-learner__feedback--good
  @extend $label--good

.card-learner__feedback--bad
  @extend $label--bad

.card-learner__feedback--accent
  @extend $label--accent

#card-learn.page-kind img
  max-width 100%
  box-shadow $box-shadow-mid
  border-radius $border-radius
