#choose-unit
    @extend $col-10

.choose-unit__engage
    @extend $button--good
    float left

    &.choose-unit__engage--first
        @extend $button--accent

.choose-unit__recommended
    @extend $label--accent

// TODO-2 Migrate this all to BEM syntax
#choose-unit
    .units
        list-style none
        padding 0

        > li
            padding $unit

            > div
                margin-left cols(2)

            h3
                display inline-block
                margin-right $unit

        li:nth-child(even)
            background $base-color(97)

    .recommended
        background $good-color(95)
        border-radius $border-radius
