.create__options
    @extend $list-options

    small
        color $base-color(50)

.create__route
    @extend $button--good

.create--subject-add__results
.create--unit-add__results
    @extend $list-options

    .preview--unit__head
    .preview--subject__head
        margin-left 140px

.create--unit-create-add__results
    @extend $list-options

    .preview--unit__head
        margin-left 180px

.create--subject-add__add
.create--unit-add__add
.create--unit-create-add__add
    @extend $button--good
    float left

.create--unit-find__my-recents
.create--unit-find__results
    @extend $list-options

    .preview--subject__head
        margin-left 180px

.create--card-find__my-recents
.create--card-find__results
    @extend $list-options

    .preview--unit__head
        margin-left 180px

.create--unit-find__choose
.create--card-find__choose
    @extend $button--good
    float left

.create--unit-find__or
.create--card-find__or
    background $base-color(93)
    color $base-color(50)
    font-style italic
    text-align center
    border-radius $border-radius

.create__home
    @extend $button--bad

    .create--unit-list &
    .create--card-list &
        float right

.create--unit-list__submit
.create--card-list__submit
    @extend $button--accent

.create--unit-list__create
.create--card-list__create
    @extend $button--good
    margin-right $unit * 2

.create--unit-list__add
.create--card-list__add
    @extend $button--good

.create--unit-list__remove
.create--card-list__remove
    @extend $button--bad
    float right

.create--unit-list__units
.create--card-list__cards
    @extend $list-options
