.create__options
    @extend $list-options

    small
        color $base-color(50)

.create__route
    @extend $button--good
    min-width 140px

.create--set-add__results
    @extend $list-options

    .preview--unit__head
    .preview--set__head
        margin-left 140px

.create--set-add__add
    @extend $button--good
    float left
