#home
    h5, h6
        font-weight normal

    header, footer
        text-align center

    footer
        @extend $font-size-small
        color $base-color(43)

    footer ul
        @extend $ul--inline

    section
        margin ($unit * 6) 0

    iframe
        max-width 100%

.home__logo
        margin $gutter auto 0
        height $unit * 10
        display block

.home__cta-button
    @extend $button--accent

.home__icon-wrap
    width ($unit * 2)
    text-align center
    display inline-block
    padding-right $unit

.home__ul--why
    @extend $ul--unstyled
    @extend $clearfix

    .home__icon-wrap
        width ($unit * 4)
        vertical-align middle
        float left

    li
        width 33%
        min-width ($unit * 16)
        float left
        padding $unit

    li i
        @extend $font-size-epic
        color $base-color(40)

    li span:last-child
        margin-left ($unit * 4)
        display block

.home__ul--how
    @extend $ul--unstyled
    @extend $clearfix

    img
        max-width 100%
        box-shadow $box-shadow-mid
        border-radius $border-radius

    li
        width 25%
        min-width ($unit * 12)
        padding $unit
        float left

.home__ul--features
    @extend $ul--unstyled

.home__ul--popular-subjects
    @extend $list-options
