#home
    h1
        font-weight normal

    header
        text-align center

    h3
        @extend $subheader

.home__logo
        margin $gutter auto 0
        height $unit * 10
        display block

.home__cta-button
    @extend $button--accent

.home__legal
    @extend $font-size-small
    color $base-color(43)
