#home
    h1
        font-weight normal

    header
        text-align center

    h3
        @extend $subheader

    footer
        @extend $font-size-small
        color $base-color(43)

    footer ul
        @extend $ul--inline

.home__logo
        margin $gutter auto 0
        height $unit * 10
        display block

.home__cta-button
    @extend $button--accent
