.my-subjects__list
  @extend $list-options

.my-subjects__engage-subject
  float left
  @extend $button--good

.my-subjects__my-subject-right
  margin-left cols(2)

.my-subjects__find-first-subject
  @extend $button--good
