.my-sets__list
    @extend $list-options

.my-sets__engage-set
    float left
    @extend $button--good

.my-sets__my-set-right
    margin-left cols(2)

.my-sets__find-first-set
    @extend $button--good
