// TODO-2 Migrate this all to BEM syntax
#my-sets
    ul
        list-style none
        padding 0

    li
        padding $unit

    li:nth-child(even)
        background $base-color(97)

.my-sets__engage-set
    float left
    @extend $button--good

.my-sets__my-set-right
    margin-left cols(2)

.my-sets__find-first-set
    @extend $button--good
