#profile
    header
        text-align center
        border-bottom 1px solid $base-color(90)
        margin-bottom $unit * 2
        background linear-gradient(transparent, $base-color(96))

    .avatar
        @extend .frame
        margin 0

    .posts .timeago
        float right
