.profile__avatar
    margin 0

.profile__header
    text-align center
    border-bottom 1px solid $base-color(90)
    margin-bottom $unit * 2
    background linear-gradient(transparent, $base-color(96))

.profile__options
    @extend $list-options
