#recommended-sets
    @extend $col-10

    // TODO-2 Migrate this all to BEM syntax

    > ul
        list-style none
        padding 0

        > li
            margin ($unit * 2) 0

        p
            margin 0

    .view-units
        @extend $font-size-small

    .add-to-my-sets
        @extend $button--good
        float right
        margin-left $unit
