#recommended-sets
    // TODO-2 Migrate this all to BEM syntax

    > ul
        @extend $list-options

    .add-to-my-sets
        @extend $button--good
        float left
        margin-right $unit

.recommended-sets__right
    margin-left 180px

.recommended-sets__view-units
    @extend $font-size-small
