#recommended-sets
    // TODO-2 Migrate this all to BEM syntax

    > ul
        @extend $list-options

        p
            margin 0

        h3
            margin $unit 0 0

        div
            margin-left 180px

    .view-units
        @extend $font-size-small

    .add-to-my-sets
        @extend $button--good
        float left
        margin-right $unit
