#recommended-subjects
    // TODO-2 Migrate this all to BEM syntax

    > ul
        @extend $list-options

    .add-to-my-subjects
        @extend $button--good
        float left
        margin-right $unit

.recommended-subjects__right
    margin-left 180px

.recommended-subjects__view-units
    @extend $font-size-small
