// TODO-2 Migrate this all to BEM syntax
#search
    > ul
        @extend $list-options

    form
        > *
            display inline-block
            margin-right $unit

    .avatar
        vertical-align middle

    .view-units
        @extend $font-size-small

    .add-to-my-sets
        @extend $button--good
        float right
        margin-left $unit
