#search
    > ul
        list-style none
        padding 0

        > li
            margin $unit 0

    .time-ago
        float right
        color $base-color(60)
        @extend .font-size-small

    .avatar
        vertical-align middle
