#search
    @extend $col-8

// TODO-2 Migrate this all to BEM syntax
#search
    > ul
        list-style none
        padding 0

        > li
            margin $unit 0

    form
        > *
            display inline-block
            margin-right $unit

    .avatar
        vertical-align middle

    .view-units
        @extend $font-size-small

    .add-to-my-sets
        @extend $button--good
        float right
        margin-left $unit
