.set__list-units-h2
    display inline-block
    margin 0 ($unit * 2) 0 0

.set__body
    @extend $font-size-accent

#set .preview--set__content
    padding $unit
    background $base-color(95)

.preview--set__content__members
    @extend $ul--unstyled

.preview--set__content__members__kind
    @extend $label
