.sets-landing__cta
    @extend $button--accent

#sets-landing
    header, section
        margin ($unit * 6) 0

.sets-landing__about-sagefy
    @extend $ul--unstyled

.sets-landing__icon-wrap
    width ($unit * 2)
    text-align center
    display inline-block
