.subject__list-units-h2
  display inline-block
  margin 0 ($unit * 2) 0 0

.subject__body
  @extend $font-size-large

#subject .preview--subject__content
  padding $unit
  background $base-color(95)

.preview--subject__content__members
  @extend $ul--unstyled

.preview--subject__content__members__kind
  @extend $label
