.subjects-landing__cta
    @extend $button--accent

#subjects-landing
    header, section
        margin ($unit * 6) 0

.subjects-landing__about-sagefy
    @extend $ul--unstyled

.subjects-landing__icon-wrap
    width ($unit * 2)
    text-align center
    display inline-block
