.subjects-landing__cta
    @extend $button--accent

#subjects-landing
    header
        padding ($unit * 4) ($unit * 2)
        color $accent-color(97)
        background $accent-color(30)
        background-image linear-gradient($accent-color(25), $accent-color(35))

        .subjects-landing__cta
            @extend $button--good

    section
        margin ($unit * 6) 0

.subjects-landing__about-sagefy
    @extend $ul--unstyled

.subjects-landing__icon-wrap
    width ($unit * 2)
    text-align center
    display inline-block
