#topic header
    @extend $clearfix

.posts
    padding 0
    list-style none

.topic__actions
    position fixed
    width 100%
    bottom 0
    left 0
    text-align center

.topic__create
    @extend $button--good
