.tree
    background $accent-color(45)
    box-shadow 0 0 10px $accent-color(45)
    border-radius $border-radius

    circle
        fill $base-color(97)

    path
        fill $accent-color(70)

    line
        stroke $accent-color(70)
