#tree
    @extend $col-10
    text-align center

.tree__continue
    @extend $button--accent

// TODO-2 Migrate this all to BEM syntax
.tree
    vertical-align top
    background $accent-color(45)
    box-shadow 0 0 10px $accent-color(45)
    border-radius $border-radius

    circle
        stroke $base-color(75)
        stroke-width 2px
        fill $accent-color(45)
        cursor pointer

        &:hover
            stroke $base-color(80)

        &.selected
            fill $base-color(97)
            stroke $base-color(80)

        &.done
            fill $good-color(60)
            stroke $good-color(20)

        &.learn
        &.review
            fill $accent-color(60)
            stroke $accent-color(90)

    path
        fill $accent-color(70)

    .unit-require
        stroke $accent-color(70)

    .name-line
        stroke $base-color(80)

.tree__current-unit
    fill $good-color(97)
