#unit
    .timeago
        float right
        color $base-color(60)
        margin-left $unit
        @extend .font-size-small

    .versions
        .label
        .label--bad
        .label--good
            @extend .font-size-small
