.versions__status--pending
    @extend $label

.versions__status--blocked
    @extend $label--bad

.versions__status--declined
    @extend $label

.versions__status--accepted
    @extend $label--good

// TODO-2 Migrate this all to BEM syntax
#versions
    > ul
        @extend $list-options

    .avail, .language, .status
        margin-right $unit
