/*
---
title: Breadcrumb
description: |
    Breadcrumbs all server to help the user know where there are.
    TODO Don't require the Chevron list elements.
example: |
    <nav class="breadcrumbs">
        <ol>
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li><i class="fa fa-chevron-right"></i></li>
            <li>
                <a href="#">
                    Learn
                </a>
            </li>
            <li><i class="fa fa-chevron-right"></i></li>
            <li>
                <a href="#">
                    Propose
                </a>
            </li>
            <li><i class="fa fa-chevron-right"></i></li>
            <li class="selected">
                <a href="#">
                    Analyze
                </a>
            </li>
        </ul>
    </nav>
---
*/

.breadcrumbs
    margin $unit 0

    ul, ol
        list-style none
        padding-left 0

    li
        display inline-block
        margin-right $unit

        &.selected
            background $base-color(95)
            border-radius $border-radius

            a
                color $accent-color(43)
                border-color $accent-color(43)
                border-radius $border-radius

    a
        display block
        padding 0 ($unit / 2)
