.entity-versions__status--pending
  @extend $label

.entity-versions__status--blocked
  @extend $label--bad

.entity-versions__status--declined
  @extend $label

.entity-versions__status--accepted
  @extend $label--good
