.form-field--entities__ul
    @extend $list-options

    .preview--card__head
    .preview--unit__head
    .preview--set__head
        margin-right 140px

.form-field--entities__a
    @extend $button--good

.form-field--entities__remove
    @extend $button--bad
    float right
