.form-field--select__ul
  @extend $ul--unstyled
  margin-top 0

.form-field--select__ul--inline
  @extend $ul--inline

.form-field--select__label
  cursor pointer

.form-field--select__label--disabled
  color $base-color(78)
  cursor default
