.form-field--list
    table
        width 100%

    input[type="text"]
        padding 0 $unit
        margin ($unit / 2) 0

    .add-row-tr
        text-align center

    .add-row
        @extend .button--good
        @extend .font-size-small
        margin ($unit / 2) 0

    tbody td:last-child
        width ($unit * 2)

    .remove-row, .move-row
        border-bottom 0

    ul
        margin 0
