.form-field--list
    table
        width 100%

    tfoot tr
        text-align center

    input[type="text"]
        padding 0 $unit
        margin ($unit / 2) 0

    tbody td:last-child
        width ($unit * 2)

    ul
        margin 0

.form-field--list__add-row
    @extend $button--good
    @extend $font-size-small
    margin ($unit / 2) 0

.form-field--list__move-row
.form-field--list__remove-row
    border-bottom 0
