/*
---
title: Icons
description: |
    Sagefy uses [FontAwesome](https://fortawesome.github.io/Font-Awesome/) where applicable. Use the `i` tag for icons, not italics. When presenting icons, label the icon. If you must choose between an icon and text, prefer text.
---
*/

@font-face
    font-family 'FontAwesome'
    src url('fontawesome-webfont.woff?v=4.5.0') format('woff')
    font-weight normal
    font-style normal

.icon
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

////

.icon-sagefy:before
    content '\29B2'

////

.icon-next:before
    content '\f054'

.icon-back:before
    content '\f053'

////

.icon-create:before
    content '\f055'

.icon-remove:before
    content '\f057'

.icon-update:before
    content '\f058'

////

.icon-good:before
    content '\f00c'

.icon-bad:before
    content '\f00d'

////

.icon-user:before
    content '\f007'

.icon-set:before
    content '\25B2'

.icon-unit:before
    content '\f111'

.icon-card:before
    content '\f0c8'

.icon-notice:before
.icon-notices:before
    content '\f0f3'

.icon-follow:before
    content '\f005'

.icon-topic:before
    content '\f03a'

.icon-post:before
    content '\f075'

.icon-vote:before
    content '\f046'

////

.icon-home:before
    content '\f015'

.icon-log-in:before
    content '\f090'

.icon-log-out:before
    content '\f08b'

.icon-sign-up:before
    content '\f234'

.icon-terms:before
    content '\f1dd'

.icon-contact:before
    content '\f0e0'

.icon-settings:before
    content '\f013'

.icon-search:before
    content '\f002'

.icon-reply:before
    content '\f112'

.icon-password:before
    content '\f084'
