$list-options
    @extend $ul--unstyled
    border-radius $border-radius

    > li
        padding $unit

    > li:nth-child(even)
        background $base-color(97)

    > li:nth-child(odd)
        background $base-color(99)

    > li:first-child
        border-top-right-radius $border-radius
        border-top-left-radius $border-radius

    > li:last-child
        border-bottom-right-radius $border-radius
        border-bottom-left-radius $border-radius
