/*
---
title: Menu Item
description: |
  TBD
---
*/


.menu__item
  @extend $col-2
  margin 0
  flex-basis cols(2)
  text-align center

  a
    color $base-color(78)
    border 0

  i
    @extend $font-size-epic
    color $base-color(90)

  &:hover
    a
      color $base-color(90)

    i
      color $base-color(97)
