/*
---
title: Notices
description: |
    TBD
example: |
    <ul class="notices">
        <li class="notice notice--unread">
            <span class="notice__when">
                52 minutes ago
            </span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt. <a href="#">Do something</a>.
        </li>
        <li class="notice">
            <span class="notice__when">
                3 hours ago
            </span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt. <a href="#">Do something</a>.
        </li>
    </ul>
---
*/

.notices
    padding 0
    list-style none
