/*
---
title: Post
description: TBD
example: |
    <li class="post">
        <div class="post__avatar">
            <img src="https://placekitten.com/g/48/48" data-title="username" />
        </div>
        <div class="post__content">
            <div class="post__when">
                52 minutes ago
            </div>
            <div class="post__name">
                username
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            </p>
            <div class="post__footer">
                <a href="#"><i class="fa fa-edit"></i> Edit</a>
                <a href="#"><i class="fa fa-share"></i> Share</a>
                <a href="#"><i class="fa fa-flag"></i> Flag</a>
            </div>
        </div>
    </li>
---
*/

.post
    padding $unit 0

    &:hover
        background $base-color(97)

.post__avatar
    float left

    a
        border-bottom none

.post__content
    margin-left $unit * 5

.post__name
    color $base-color(60)
    margin 0
    border-bottom none

.post__when
    float right
    @extend .font-size-small
    color $base-color(66)
    margin 0 0 $unit $unit

.post__footer
    @extend .font-size-small
    opacity 0.2
    transition opacity 0.2s linear
    text-align right

    .post:hover &
        opacity 1

    a
        margin-left $unit

.post__in-reply
    @extend .font-size-small
    @extend .label
    border-bottom none

/*
---
title: Proposal
description: |
    A proposal to create, update, delete, merge, or split an entity.
example: |
    <div class="proposal">
        <div class="proposal__avatar">
            <img src="https://placekitten.com/g/48/48" data-title="username" />
        </div>
        <div class="proposal__content">
            <div class="proposal__when">
                3 hours ago
            </div>
            <div class="proposal__name">
                username
            </div>
            <p class="proposal__subject">
                Kind: Object Name
                <span class="proposal__status--pending">Pending</span>
            </p>
            <div class="proposal__body">
                <p>
                    Changes block TBD.
                </p>
            </div>
        </div>
    </div>
---
*/

// TODO-2 remove this class... I'm so lazy right now :)
.post--proposal
    padding $unit
    margin-top $unit
    background $base-color(95)

.proposal__subject
    @extend strong
    margin 0

.proposal__status--pending
    @extend .label

.proposal__status--blocked
    @extend .label--bad

.proposal__status--accepted
    @extend .label--good

.proposal__status--declined
    @extend .label

/*
---
title: Vote
description: |
    A vote from a user on a proposal.
example: |
    <div class="vote">
        <div class="vote__header">
            <span class="vote__response--yes">Yes</span>
            by
            <img src="https://placekitten.com/g/24/24" data-title="username" />
            <span class="vote__name">
                username
            </span>
            <span class="vote__when">
                3 hours ago
            </span>
        </div>
        <div class="vote__body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt.
            </p>
        </div>
    </div>
---
*/

.vote__header
    margin $unit 0

.vote__response--yes
    @extend .label--good

.vote__response--no
    @extend .label--bad

.vote__header img
    vertical-align middle

.vote__body
    padding-left $gutter
