/*
---
title: Wizard
description: |
  TBD
---
*/

.wizard
  @extend $ul--inline
  counter-reset item

.wizard__li
  counter-increment item
  padding 0 ($unit / 2)

  &:before
    content counter(item, decimal) ". "

.wizard__li--selected
    background $accent-color(90)
    border-radius $border-radius
