
<img src="/astrolabe.svg" id="logo" />

<hgroup>
    <h1>Sagefy</h1>
    <h3 class="subheader">
        Adaptive, collaborative, and open learning platform.
    </h3>
</hgroup>

<p class="leading">
    <a href="/login">Login</a> or <a href="/signup">Signup</a>
</p>

{{!
<ul class="font-size-accent">
    <li>
        <a href="#"><i class="fa fa-puzzle-piece"></i> Learn</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-edit"></i> Contribute</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-question"></i> Mentor</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-group"></i> Moderate</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart"></i> Analyze</a>
    </li>
</ul>
}}
