<div class="menu__overlay"></div>
<a href="#" class="menu__trigger" data-title="Menu">
    <img src="/astrolabe.svg">
    <i class="menu__close fa fa-times-circle"></i>
</a>
<ul class="menu__items"></ul>
