[MASTER]

disable=bare-except,broad-except,empty-docstring,fixme,import-error,inconsistent-return-statements,invalid-name,keyword-arg-before-vararg,missing-docstring,no-member,no-name-in-module,pointless-string-statement,redefined-outer-name,superfluous-parens,too-many-locals,unexpected-keyword-arg,unused-argument,unused-import,wrong-import-order

# bare-except -- Fine with just handling it in general.
# broad-except -- Fine with just handling it in general.
# empty-docstring -- FIX (7)
# fixme -- Would take a long time to address all of those.
# import-error -- Seems related to import issues. Fix?
# inconsistent-return-statements -- ? (~30)
# invalid-name -- Would be useful if it didn't enforce constant rule. Fix?
# keyword-arg-before-vararg -- ? (1)
# missing-docstring -- FIX (Many)
# no-member -- Seems related to import issues. Fix?
# no-name-in-module -- Seems related to import issues. Fix?
# pointless-string-statement -- FIX (12)
# redefined-outer-name -- FIX (8)
# superfluous-parens -- Only happens with `print`. Fix?
# too-many-locals -- FIX (3)
# unexpected-keyword-arg -- Only happens in Travis?
# unused-argument -- FIX (~50)
# unused-import -- Seems related to import issues. Fix?
# wrong-import-order -- Only happens in Travis?

[REPORTS]

output-format=colorized

[FORMAT]

indent-after-paren=2
indent-string='  '
