[MASTER]

disable=fixme,import-error,no-name-in-module,unused-argument,missing-docstring,empty-docstring,pointless-string-statement,bare-except,no-member,broad-except,invalid-name,unused-import,bad-continuation,too-many-locals,superfluous-parens,unused-variable,redefined-outer-name,anomalous-backslash-in-string,unexpected-keyword-arg

# remove bad-continuation

[REPORTS]

output-format=colorized

[FORMAT]

indent-after-paren=2
indent-string='  '
