/*
---
title: Basic Page Layout
description: |
    Most pages on Sagefy are limited to a menu icon, a title, body contents, and end in linear navigation. This simplicity forces focus on the task at hand.

    Set the body to <code>max-width-10</code>. Use an <code>h1</code> at the top. End with linear navigation and a menu element.

    TODO: Code, example
---
*/
