/*
---
title: Object Representation
description: |
    Provide an overview of information about an object. Examples are a user profile, component statistics, or a history of changes.

    Start with <code>aside-left-4</code>. Include a <var>264x264</var> image at top top of the <code>aside</code>. The <code>main</code> element starts with an <code>h1</code>. Delegate concise, vital statistics and information to the <code>aside</code>, and primary content to the <code>main</code>.

    TODO: code, example
---
*/
