/*
---
title: Search, Sort, & Filter Layout
description: |
    The search with filters layout is based on a simple aside layout.

    Set the body to <code>aside-right-3</code>, and use vertical navigation for filters in the <code>aside</code>. Include sorting options in the aside. Start the <code>main</code> element with an <code>h1</code> and possibly breadcrumbs. Then include a large search bar. Show a list with thumbnails in infinite scroll below the search bar. Manage empty states.

    TODO: Code, example
---
*/



