$base-font-family = "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", serif
$monospace-font-family = menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
$sans-serif-font-family = "lucida grande", "lucida sans unicode", "lucida sans", geneva, sans-serif

.base-font
    font-family $base-font-family

.monospace
    font-family $monospace-font-family

.sans-serif
    font-family $sans-serif-font-family