$base-font-family = "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", serif
$monospace-font-family = menlo, "dejavu sans mono", consolas, "lucida console", monaco, monospace
$san-serif-font-family = "lucida grande", "lucida sans unicode", "lucida sans", geneva, sans-serif