::-webkit-input-placeholder
    color $gold-90

::-moz-placeholder
    color $gold-90

:-ms-input-placeholder
    color $gold-90

input:-moz-placeholder
    color $gold-90

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="search"],
input[type="tel"],
textarea
    border 1px solid $gold-78
    background $white
    border-radius $border-radius
    line-height $unit * 2
    box-shadow inset 0 1px 2px $gold-95

    &:hover, &:focus, &.hover, &.focus
        border-color $gold-66
        outline 0

    &:focus, &.focus
        box-shadow inset 0 1px 2px $gold-95, 0 0 1px 1px $gold-78

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="search"],
input[type="tel"]
    padding 0 ($unit / 2)
    height $unit * 2

textarea
    padding ($unit / 2)

input[type="checkbox"],
input[type="radio"]
    -webkit-appearance none
    -webkit-user-select none
    background $white
    border 1px solid $gold-78
    margin 0 1px 0 0
    bottom 2px
    height 13px
    position relative
    vertical-align middle
    width 13px
    box-shadow inset 0 1px 2px $gold-95

    &:checked::before
        -webkit-user-select none
        content ''
        display block
        background $gold-66
        border 1px solid $white
        width 100%
        height 100%

    &:focus, &.focus
        outline 0
        box-shadow inset 0 1px 2px $gold-95, 0 0 1px 1px $gold-78

input[type="checkbox"]
    border-radius $border-radius

    &:checked::before
        border-radius $border-radius

input[type="radio"]
    border-radius 100%

    &:checked::before
        border-radius 100%


form
    label
        display block