html, body, input, textarea, select
    font-family $base-font-family

body
    color #343115
    background #fcfcfc
    font-size 100%
    line-height 1.5

a
    color #51abcd

    &:hover
        color #cae7f6

h1
    font-size 200%
    line-height 1.5
    margin 0.375em 0

h2
    font-size 150%
    line-height 2
    margin 0.5em 0

h3
    font-size 137.5%
    line-height 1.0909
    margin 0.5454em 0

h4
    font-size 112.5%
    line-height 1.3333
    margin 0.6667em 0

h5
    color #6c6733
    font-size 112.5%
    line-height 1.3333
    margin 0.6667em 0

h6
    color #6c6733
    font-size 100%
    line-height 1.5
    margin 1em 0

.leading
    font-size 112.5%
    line-height 1.3333
    margin 0.6667em 0
    color #6c6733

pre, samp, code, kbd
    font-family $monospace-font-family