button-background($color, $raise = 5, $reduce = 5)
    background-color $color
    background-image -webkit-linear-gradient(lighten($color, $raise), darken($color, $reduce))
    background-image linear-gradient(lighten($color, $raise), darken($color, $reduce))

button-background-inv($color, $raise = 5, $reduce = 5)
    background-color $color
    background-image -webkit-linear-gradient(darken($color, $reduce), lighten($color, $raise))
    background-image linear-gradient(darken($color, $reduce), lighten($color, $raise))

.base-button
    border-radius $border-radius
    padding ($unit / 2) $unit
    margin 0 auto
    display inline-block
    margin $unit 0
    cursor pointer
    transition all 0.2s
    box-shadow inset 0 1px 0 rgba(255,255,255,0.2), inset 1px 0 0 rgba(255,255,255,0.2), inset -1px 0 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.05), 0 1px 0 $white

    &:focus, &.focus
        outline 0

    &[disabled], &.button--disabled
        background transparent
        cursor not-allowed

.button--large
    padding $unit $unit * 2

.button--big
    @extend .font-size-big
    padding $unit $unit * 2

.button,
button,
input[type="button"],
.button--cancel,
.button--escape,
.button--prev,
.button--back,
.button--info
    @extend .base-button

    border 1px solid $gold-90
    button-background $gold-90
    color $gold-43

    &:hover, &:focus, &.hover, &.focus
        color $gold-20
        border 1px solid $gold-78
        button-background $gold-95

    &:active, &.active, &.selected
        border 1px solid $gold-66
        button-background-inv $gold-78

    &[disabled], &.button--disabled
        color $gold-78

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $gold-78
            border 1px solid $gold-90
            background transparent

button[type="submit"],
.button--primary,
.button--navigation,
.button--next
    @extend .base-button

    border 1px solid $blue-66
    button-background $blue-66
    color $blue-99

    &:hover, &:focus, &.hover, &.focus
        color $white
        border 1px solid $blue-43
        button-background $blue-78

    &:active, &.active, &.selected
        color $blue-95
        border 1px solid $blue-20
        button-background-inv $blue-43

    &[disabled], &.button--disabled
        color $blue-78
        border 1px solid $blue-90

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $blue-78
            border 1px solid $blue-90
            background transparent

.button--secondary,
.button--success,
.button--accept
    @extend .base-button

    border 1px solid $green-90
    button-background $green-90
    color $green-43

    &:hover, &:focus, &.hover, &.focus
        color $green-20
        border 1px solid $green-78
        button-background $green-95

    &:active, &.active, &.selected
        border 1px solid $green-66
        button-background-inv $green-78

    &[disabled], &.button--disabled
        color $green-78

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $green-78
            border 1px solid $green-90
            background transparent

.button--danger,
.button--error,
.button--delete
    @extend .base-button

    border 1px solid $red-90
    button-background $red-90, 3, 2
    color $red-43

    &:hover, &:focus, &.hover, &.focus
        color $red-20
        border 1px solid $red-78
        button-background $red-95, 3, 2

    &:active, &.active, &.selected
        border 1px solid $red-66
        button-background-inv $red-78, 3, 2

    &[disabled], &.button--disabled
        color $red-78

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $red-78
            border 1px solid $red-90
            background transparent

.button-group
    @extend .inline-block
    vertical-align middle

    > *
        float left

        &:first-child:not(:last-child)
            border-top-right-radius 0
            border-bottom-right-radius 0

        &:last-child:not(:first-child)
            border-top-left-radius 0
            border-bottom-left-radius 0

        &:not(:first-child):not(:last-child)
            border-radius 0
