/*
---
title: Colors
description: |
    Sagefy uses a color scheme derived from [HUSLp](http://boronine.com/husl/), which corrects issues with HSL, CIE-based color schemes, and HUSL itself at the price of highly saturated colors. 5 primary hues are used by Sagefy.

    - 9&deg; &ndash; Red. Reserved for errors, danger, major issues, or to provide warmth.
    - 81&deg; &ndash; Gold. Serves as the base hue. Useful for warning states. Where possible use this hue over red.
    - 153&deg; &ndash; Green. Useful for success and acceptance states.
    - 225&deg; &ndash; Blue. Indicates a clickable element or navigation element. Also an accent color when no other is applicable.
    - 297&deg; &ndash; Purple. Represents authority and acceptance.

    Other hues can be used, particularly when hue is a linear function, such as a progress bar color.

    **Saturation**. Sagefy defaults to using the full saturation available (100%) at any particular hue. Desaturation is available particularly at disabled states, and multiple of 20% are preferred for such states.

    **Lightness**. Any lightness values may be used. Sagefy recommends against values darker than 20%. Default to 20%, 43%, 66%, 78%, 90%, 95%, and 99% where applicable.

example: |
    <table class="color-table">
        <thead>
            <tr>
                <th></th>
                <th>20%</th>
                <th>43%</th>
                <th>66%</th>
                <th>78%</th>
                <th>90%</th>
                <th>95%</th>
                <th>99%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9&deg;</td>
                <td style="background:#44292a"></td>
                <td style="background:#8b585b"></td>
                <td style="background:#d98b90"></td>
                <td style="background:#fdabb0"></td>
                <td style="background:#fedadb"></td>
                <td style="background:#ffeced"></td>
                <td style="background:#fffbfb"></td>
            </tr>
            <tr>
                <td>81&deg;</td>
                <td style="background:#343115"></td>
                <td style="background:#6c6733"></td>
                <td style="background:#aaa354"></td>
                <td style="background:#cbc475"></td>
                <td style="background:#e7e3c7"></td>
                <td style="background:#f3f1e4"></td>
                <td style="background:#fcfcfa"></td>
            </tr>
            <tr>
                <td>153&deg;</td>
                <td style="background:#0f3728"></td>
                <td style="background:#287256"></td>
                <td style="background:#44b389"></td>
                <td style="background:#68d5a9"></td>
                <td style="background:#c5ebd9"></td>
                <td style="background:#e3f5ec"></td>
                <td style="background:#f9fdfb"></td>
            </tr>
            <tr>
                <td>225&deg;</td>
                <td style="background:#143440"></td>
                <td style="background:#316d83"></td>
                <td style="background:#51abcd"></td>
                <td style="background:#75ccef"></td>
                <td style="background:#cae7f6"></td>
                <td style="background:#e6f3fa"></td>
                <td style="background:#fafcfe"></td>
            </tr>
            <tr>
                <td>297&deg;</td>
                <td style="background:#3c2a42"></td>
                <td style="background:#7b5a86"></td>
                <td style="background:#c18ed1"></td>
                <td style="background:#e3aef4"></td>
                <td style="background:#f0dcf8"></td>
                <td style="background:#f7edfb"></td>
                <td style="background:#fdfbfe"></td>
            </tr>
        </tbody>
    </table>
---
*/



// Gold (81deg) is the base hue, and also warning states
$gold-20 = #343115
$gold-43 = #6c6733
$gold-66 = #aaa354
$gold-78 = #cbc475
$gold-90 = #e7e3c7
$gold-95 = #f3f1e4
$gold-97 = #f8f7ef
$gold-99 = #fcfcfa
$white = #ffffff

// Blue (225deg) indicates primary, clickable, navigation, or accent
$blue-20 = #143440
$blue-43 = #316d83
$blue-66 = #51abcd
$blue-78 = #75ccef
$blue-90 = #cae7f6
$blue-95 = #e6f3fa
$blue-99 = #fafcfe

// Green (153deg) indicates success or acceptance
$green-20 = #0f3728
$green-43 = #287256
$green-66 = #44b389
$green-78 = #68d5a9
$green-90 = #c5ebd9
$green-95 = #e3f5ec
$green-99 = #f9fdfb

// Red (9deg) indicates error, danger, or major issue
$red-20 = #44292a
$red-43 = #8b585b
$red-66 = #d98b90
$red-78 = #fdabb0
$red-90 = #fedadb
$red-95 = #ffeced
$red-99 = #fffbfb

// Purple (297deg) indicates authority or official
$purple-20 = #3c2a42
$purple-43 = #7b5a86
$purple-66 = #c18ed1
$purple-78 = #e3aef4
$purple-90 = #f0dcf8
$purple-95 = #f7edfb
$purple-99 = #fdfbfe
