/*
---
title: Fonts
description: |
    Sagefy's primary typeface is Palatino. Monospaced typography uses DejaVu Sans Mono derivatives. When necessary, Lucida can be used as a san-serif typeface. Note Lucida does not support true italics on several operating systems.

    - **Base**: "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", serif
    - **Monospace**: menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
    - **Alternate**: "lucida grande", "lucida sans unicode", "lucida sans", geneva, sans-serif

    The classes `base-font`, `monospace`, and `sans-serif` can be used to alter the typeface.
---
*/

$base-font-family = "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", serif
$monospace-font-family = menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
$sans-serif-font-family = "lucida grande", "lucida sans unicode", "lucida sans", geneva, sans-serif

.base-font
    font-family $base-font-family

.monospace
    font-family $monospace-font-family

.sans-serif
    font-family $sans-serif-font-family
