/*
---
title: Fonts
description: |
    Sagefy's primary typeface is Noto Serif. Monospaced typography uses DejaVu Sans Mono derivatives.

    - **Base**: "noto serif", serif
    - **Monospace**: menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace

    The classes `base-font` and `monospace` can be used to alter the typeface.
---
*/

$base-font-family = "noto serif", serif
$monospace-font-family = menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace

.base-font
    font-family $base-font-family

.monospace
    font-family $monospace-font-family

