figure
    display inline-block
    padding ($unit / 2)
    border 1px solid $gold-95
    background $white
    border-radius $border-radius

    img
        display block
        margin 0 auto

figcaption
    font-style italic
    margin-top $unit
    color $gold-43