/*
---
title: Vendor Mixin
description:
parameters:
returns:
---
*/

vendor(property, args)
    -webkit-{property} args
    -moz-{property} args
    -ms-{property} args
    -o-{property} args
    {property} args

/*
---
title: Border Radius Mixin
description:
parameters:
returns:
---
*/
border-radius()
    vendor 'border-radius', arguments

/*
---
title: Transition Mixin
description:
parameters:
returns:
---
*/
transition()
    vendor 'transition', arguments

/*
---
title: Box Sizing Mixin
description:
parameters:
returns:
---
*/
box-sizing()
    vendor 'box-sizing', arguments
