vendor(property, args)
    -webkit-{property} args
    -moz-{property} args
    -ms-{property} args
    -o-{property} args
    {property} args

border-radius()
    vendor 'border-radius', arguments

transition()
    vendor 'transition', arguments

box-sizing()
    vendor 'box-sizing', arguments

break-words()
    -ms-word-break break-all
    word-break break-all
    word-break break-word
    -webkit-hyphens auto
    -moz-hyphens auto
    hyphens auto
