/*
---
title: Vendor Mixin
description: Whenever a wrapped property is called, all vendor prefixes are automatically added as well.
parameters:
    - property
    - args
returns:
    - Styling, for webkit, moz, ms, and o
---
*/

vendor(property, args)
    -webkit-{property} args
    -moz-{property} args
    -ms-{property} args
    -o-{property} args
    {property} args

/*
---
title: Border Radius Mixin
description: Includes vendor prefixes for border radius.
parameters:
    - Use as normal
---
*/
border-radius()
    vendor 'border-radius', arguments

/*
---
title: Transition Mixin
description: Includes vendor prefixes for transitions.
parameters:
    - Use as normal
---
*/
transition()
    vendor 'transition', arguments

/*
---
title: Box Sizing Mixin
description: Includes vendor prefixes for box sizing.
parameters:
    - Use as normal
---
*/
box-sizing()
    vendor 'box-sizing', arguments

/*
---
title: Filter Mixin
description: Includes vendor prefixes for filter.
parameters:
    - Use as normal
---
*/
filter()
    vendor 'filter', arguments
