::-webkit-scrollbar
    width $unit

::-webkit-scrollbar-track
    background $gold-95
    border-radius $border-radius

::-webkit-scrollbar-thumb
    background $gold-90
    border-radius $border-radius
