html, body, input, textarea, select
    font-family $base-font-family

body
    color $gold-20
    background $gold-99
    font-size 16px
    line-height 1.5

a
    color $blue-66
    transition color 0.2s
    text-decoration none
    border-bottom 1px dashed $blue-66

    &:hover, &.hover, &:focus, &.focus
        color $blue-78
        border-color $blue-78

    &:active, &.active, &.selected
        color $blue-43
        border-color $blue-43


for i in 16 18 20 26 28 32 // 22 + 24 are awkward
    .font-size-{i}
        font-size (i / 16 * 100%)
        if i > 20
            line-height (3 * unit($unit, "") / i)
        else
            line-height (2 * unit($unit, "") / i)

.width-limit
    max-width cols(10)

    &.full-width
        max-width auto

h1, h2, h3, h4, h5, h6, p, ul, ol, pre, blockquote, hr
    margin $unit 0

h1, h2, h3, h4, h5, h6
    font-style italic
    margin $unit 0

    em
        font-style normal

    strong
        background-color $gold-95
        border-radius $border-radius

    &.subheader
        font-weight normal
        color $gold-43

h3, h4, h5, h6
    color $gold-43

hgroup
    :not(:first-child)
        margin-top 0
    :not(:last-child)
        margin-bottom 0

h1
    @extend .font-size-32

h2
    @extend .font-size-28

h3
    @extend .font-size-20

h4
    @extend .font-size-18

h5
    @extend .font-size-16

h6
    @extend .font-size-16

p
    @extend .width-limit

.leading
    @extend .font-size-18
    color $gold-43

del
    color $gold-66

ins
    text-decoration none
    background $white
    border-radius $border-radius

mark
    background $gold-95
    border-radius $border-radius

abbr
    border-bottom 1px dashed $gold-66

pre, samp, code, kbd
    @extend .monospace
    font-size 87.5%
    line-height 1.7143
    margin 1.1429 0

code
    color $gold-43

q
    font-style italic

cite
    font-style normal
    font-variant small-caps
    color $gold-43

    &:before
        color $gold-90
        content "\2022  "

blockquote
    border-left 2px solid $gold-90
    padding-left $unit
    margin-left $unit

    q
        @extend .font-size-18
        margin-bottom: 0

    q, cite
        display block

hr
    border 0
    background $gold-90
    height 2px
    margin 1em 0
