.breadcrumbs, .wizard, .pagination
    margin $unit 0

    ul, ol
        list-style none
        padding-left 0

    li
        display inline-block
        margin-right $unit

        &.selected

            background $gold-95
            border-radius $border-radius

            a
                color $blue-43
                border-color $blue-43
                border-radius $border-radius

        &.disabled
            a, i
                border-color transparent
                color $gold-90

    a
        display block
        padding 0 ($unit / 2)

.pagination__separator
    color $gold-43
