/*
---
title: Inline Labels
description: Labels are available in each of the basic hues.
elements:
    - span (root)
modifiers:
    - error
    - warn
    - accept
    - info
    - official
example: |
    <ul>
        <li>Error or Danger: <span class="label--error">label</span> and numeric label: <span class="label--error">100</span></li>
        <li>Default, Base or Warn: <span class="label--warn">label</span> and numeric label: <span class="label--warn">100</span></li>
        <li>Success or Accept: <span class="label--accept">label</span> and numeric label: <span class="label--accept">100</span></li>
        <li>Accent or Info: <span class="label--info">label</span> and numeric label: <span class="label--info">100</span></li>
        <li>Official or Admin: <span class="label--official">label</span> and numeric label: <span class="label--official">100</span></li>
    </ul>
---
*/


.label
    border-radius $unit
    display inline-block
    padding 0 ($unit / 2)
    font-weight bold

.label--error, .label--danger
    @extend .label
    color $red-43
    background $red-90

.label--default, .label--base, .label--warn
    @extend .label
    color $gold-43
    background $gold-90

.label--success, .label--accept
    @extend .label
    color $green-43
    background $green-90

.label--accent, .label--info
    @extend .label
    color $blue-43
    background $blue-90

.label--official, .label--admin
    @extend .label
    color $purple-43
    background $purple-90
