/*
---
title: Overlays & Modals
description: Modals are only used in extraordinary cases. Prefer to append inline over using a modal.
elements:
modifiers:
example: |
    <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__container">
            <div class="modal__header">
                <h3>Some header text</h3>
                <a href="#" class="modal__close">&times;</a>
            </div>
            <div class="modal__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="modal_footer">
                <button class="button--secondary">Submit</button>
            </div>
        </div>
    </div>
---
*/
