/*
---
title: Progressbars & Spinners
description: <a href="http://tobiasahlin.com/spinkit/">spin kit</a> For progress bars, use the <code>progress</code> tag.
elements:
modifiers:
example: |
    <progress max="70"><span>0</span>%</progress>
---
*/
