/*
---
title: More Remarks
description: |
    ### Extending with BEM

    Non-tag elements in the Sagefy ecosystem use the <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM syntax</a>.

    ### JavaScript and CSS classes

    Classes and IDs used only for JavaScript are prepended by <code>js-</code>. Style-based classes, other than for forms, navigation, and elements are not used in JavaScript.

    ### Additions

    Prefer to add components to the general styleguide than inventing new components for specific interfaces. Reuse ensures code maintainability and efficiency.

    ### Browser Support

    At this time, Sagefy supports the major browsers, Chrome, Safari, Firefox, &amp; Internet Explorer, at the latest consumer version and the latest immediately-previous major consumer version. As of <time>2013 August 24</time>:

    - **Chrome**: 29, 28
    - **Safari**: 6, 5.1
    - **Firefox**: 23, 22
    - **Internet Explorer**: 10, 9

    ### Even More TODOs...

    - Element queries
    - HUSLp integration with Grunt
    - Region flag integration
    - Code syntax highlighter
    - Form validation plugin
    - Form prevent submit
    - Navigation, tabs, wizard, pagination script
    - Menu navigation
    - Alerts script
    - Overlays &amp; Modals
    - Notifications
    - Discussions
    - Progress
    - Ratings
    - Badges, Trophies &amp; Awards
    - Tips, Suggestions &amp; Inline Help
    - Galleries
    - Heros
    - Accordions
    - Statistics
    - Inline editing
    - Dropdowns
    - Uploading images
---
*/
