/*
---
title: More remarks
description:
elements:
modifiers:
parameters:
returns:
example: |
    <h2>11. Page Layouts</h2>

        <h3>11.1 Basic Page Layout</h3>

            <p>
                Most pages on Sagefy are limited to a menu icon, a title, body contents, and end in linear navigation. This simplicity forces focus on the task at hand.
            </p>

            <p>
                Set the body to <code>max-width-10</code>. Use an <code>h1</code> at the top. End with linear navigation and a menu element.
            </p>

        <h3>11.2 Navigated Page Layout</h3>

            <p>
                A page that has been intentionally navigated to includes breadcrumbs or other navigational feature where applicable.
            </p>

            <p>
                Before the <code>h1</code> of &sect;11.1, include breadcrumbs navigation. Alternatively, set the body to <code>aside-right-3</code>, and use vertical navigation in the <code>aside</code>.
            </p>

        <h3>11.3 Object Representation</h3>

            <p>
                Provide an overview of information about an object. Examples are a user profile, component statistics, or a history of changes.
            </p>

            <p>
                Start with <code>aside-left-4</code>. Include a <var>264x264</var> image at top top of the <code>aside</code>. The <code>main</code> element starts with an <code>h1</code>. Delegate concise, vital statistics and information to the <code>aside</code>, and primary content to the <code>main</code>.
            </p>

        <h3>11.4 Settings</h3>

            <p>
                Some views transverse Sagefy's sections (Learn, Contribute, Mentor...).
            </p>

            <p>
                Borrowing the &sect;11.1 Basic Page Layout, and add horizontal tabs across the top. Alternatively, set the body to <code>aside-right-3</code>, and use vertical navigation in the <code>aside</code>. Keep to a single column form.
            </p>

        <h3>11.5 Search, Sort, &amp; Filter</h3>

            <p>
                The search with filters layout is based on a simple aside layout.
            </p>

            <p>
                Set the body to <code>aside-right-3</code>, and use vertical navigation for filters in the <code>aside</code>. Include sorting options in the aside. Start the <code>main</code> element with an <code>h1</code> and possibly breadcrumbs. Then include a large search bar. Show a list with thumbnails in infinite scroll below the search bar. Manage empty states.
            </p>

    <h2>12. Concluding Remarks</h2>

        <h3>12.1 Extending with BEM</h3>

            <p>
                Non-tag elements in the Sagefy ecosystem use the <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM syntax</a>.
            </p>

        <h3>12.2 JavaScript and CSS classes</h3>

            <p>
                Classes and IDs used only for JavaScript are prepended by <code>js-</code>. Style-based classes, other than for forms, navigation, and elements are not used in JavaScript.
            </p>

        <h3>12.3 Additions</h3>

            <p>
                Prefer to add components to the general styleguide than inventing new components for specific interfaces. Reuse ensures code maintainability and efficiency.
            </p>

        <h3>12.4 Browser support</h3>

            <p>
                At this time, Sagefy supports the major browsers, Chrome, Safari, Firefox, &amp; Internet Explorer, at the latest consumer version and the latest immediately-previous major consumer version. As of <time>2013 August 24</time>:
            </p>

            <ul>
                <li><strong>Chrome</strong>: 29, 28</li>
                <li><strong>Safari</strong>: 6, 5.1</li>
                <li><strong>Firefox</strong>: 23, 22</li>
                <li><strong>Internet Explorer</strong>: 10, 9</li>
            </ul>

        <h3>12.5 Todo List</h3>

            <ul>
                <li>Element queries</li>
                <li>HUSLp integration with Grunt</li>
                <li>Region flag integration</li>
                <li>Code syntax highlighter</li>
                <li>Form validation plugin</li>
                <li>Form prevent submit</li>
                <li>Navigation, tabs, wizard, pagination script</li>
                <li>Menu navigation</li>
                <li>Alerts script</li>
                <li>Overlays &amp; Modals</li>
                <li>Notifications</li>
                <li>Discussions</li>
                <li>Progress</li>
                <li>Ratings</li>
                <li>Badges, Trophies &amp; Awards</li>
                <li>Tips, Suggestions &amp; Inline Help</li>
                <li>Galleries</li>
                <li>Heros</li>
                <li>Accordions</li>
                <li>Statistics</li>
                <li>Inline editing</li>
                <li>Dropdowns</li>
                <li>Uploading images</li>
            </ul>
---
*/
