---
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Sagefy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/favicon.ico" />
        <link href="/index.css" rel="stylesheet" />
    </head>
    <body>
        <div class="page">
            <main class="col-10">
                {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
                {% if page.subtitle %}<h2 class="subheader">{{ page.subtitle }}</h2>{% endif %}
                {{ content }}
            </main>
            <aside class="col-4">
                <header>
                    <img src="/images/astrolabe.svg" alt="astrolabe" height="84" class="large">
                    <hgroup>
                        <div class="title">Sagefy</div>
                        <div class="description">Open and adaptive learning platform.</div>
                    </hgroup>
                </header>

                <ul>
                    <li><a href="/">Overview</a></li>
                    <li><a href="/ideas">Ideas</a></li>
                    <li><a href="/data_structure">Data Structure</a></li>
                    <li><a href="/stack">Technology Stack</a></li>
                    <li><a href="https://github.com/heiskr/sagefy/blob/master/CONTRIBUTING.m">Contributing</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/reference">Reference</a></li>
                </ul>

                <hr>

                <ul>
                    <li><a href="https://github.com/heiskr/sagefy">Github</a></li>
                    <li><a href="https://twitter.com/sagefyorg">Twitter</a></li>
                </ul>

                <hr>

                <p><small>© Copyright Sagefy 2015. All contents are licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0</a>.</small></p>
            </aside>
        </div><!-- END .page -->
        <script>(function(G,o,O,g,l){G.GoogleAnalyticsObject=O;G[O]||(G[O]=function(){(G[O].q=G[O].q||[]).push(arguments)});G[O].l=+new Date;g=o.createElement('script'),l=o.scripts[0];g.src='//www.google-analytics.com/analytics.js';l.parentNode.insertBefore(g,l)}(this,document,'ga'));ga('create','UA-40497674-1');ga('send','pageview')</script>
    </body>
</html>
