#index

    #logo
        margin $gutter auto 0
        height $unit * 10
        display block

    h1
        font-weight normal

    h1, h3, p
        text-align center

    h3
        margin-bottom $unit * 2

    ul
        text-align center
        list-style none
        padding 0

        li
            padding-bottom $unit

    .legal
        @extend .font-size-small
        color $gold(43)
        margin-top $unit * 4
