#styleguide
    .size-table
        text-align center

    .color-table
        td, th
            padding ($unit / 2)

        th
            font-weight normal

        td
            text-align right

    .sg-field
        font-style italic

    .sg-example
        border 1px solid $base-color(90)
        padding $gutter

    .column-demo
        .col-2
            background $bad-color(95)

        .col-6
            background $accent-color(90)

    for light in 20 40 60 80 90 95 97 99
        .base-color-{light}
            background $base-color(light)

        .accent-color-{light}
            background $accent-color(light)

        .good-color-{light}
            background $good-color(light)

        .bad-color-{light}
            background $bad-color(light)
