#styleguide
    .size-table
        text-align center

    .color-table
        td, th
            padding ($unit / 2)

        th
            font-weight normal

        td
            text-align right

    .sg-field
        font-style italic

    .sg-example
        border 1px solid $gold-90
        padding $gutter

    .column-demo
        .col-2
            background $red-95

        .col-6
            background $blue-90

