@import "../ui/styles/base/normalize"
@import "../ui/styles/base/mixins"
@import "../ui/styles/base/colors"
@import "../ui/styles/base/fonts"

// @import "layout"

$unit = 12px
$gutter = $unit * 2
$column = $gutter * 2
$font-size = 16px
$border-radius = 2px
$max-columns = 20

cols(n)
    n * $column + (n - 1) * $gutter

body-cols(n)
    n * $column + (n + 1) * $gutter

*, *:before, *:after
    box-sizing border-box

.inline-block
    display inline-block

.push-right
    margin-right $unit

@import "../ui/styles/base/typography"
@import "../ui/styles/base/images"
@import "../ui/styles/base/lists"
// @import "icons"
@import "../ui/styles/base/buttons"
@import "../ui/styles/base/forms"
@import "../ui/styles/base/tables"

html, body
    margin 0 auto

body
    width cols(14)
    padding $gutter

main
    margin-right cols(4) + $gutter

aside
    width cols(4)
    float right

header
    overflow auto
    margin-bottom $unit

    img
        float left

    hgroup
        margin-left $unit * 6

    .title
        margin-top $unit
        @extend .font-size-big

    .description
        font-style italic
        color $gold-43
