@import "../client/app/base/normalize"
@import "../client/app/base/mixins"
@import "../client/app/base/colors"
@import "../client/app/base/fonts"
@import "../client/app/base/layout"
@import "../client/app/base/typography"
@import "../client/app/base/images"
@import "../client/app/base/lists"
@import "../client/app/base/buttons"
@import "../client/app/base/forms"
@import "../client/app/base/tables"

aside
    width cols(4)

header
    overflow auto
    margin-bottom $unit

    img
        float left

    hgroup
        margin-left $unit * 6

    .title
        margin-top $unit
        @extend .font-size-big
        font-family $title-font-family

    .description
        font-style italic
        color $base-color(43)
        font-family $title-font-family

img
    max-width 100%
