@import "../client/app/views/base_styles"

aside
    width cols(4)

header
    overflow auto
    margin-bottom $unit

    img
        float left

    hgroup
        margin-left $unit * 6

    .title
        margin-top $unit
        @extend .font-size-big
        font-family $title-font-family

    .description
        font-style italic
        color $base-color(43)
        font-family $title-font-family

img
    max-width 100%
