@import "../ui/styles/base/normalize"
@import "../ui/styles/base/mixins"
@import "../ui/styles/base/colors"
@import "../ui/styles/base/fonts"
@import "../ui/styles/base/layout"
@import "../ui/styles/base/typography"
@import "../ui/styles/base/images"
@import "../ui/styles/base/lists"
@import "../ui/styles/base/buttons"
@import "../ui/styles/base/forms"
@import "../ui/styles/base/tables"

aside
    width cols(4)

header
    overflow auto
    margin-bottom $unit

    img
        float left

    hgroup
        margin-left $unit * 6

    .title
        margin-top $unit
        @extend .font-size-big

    .description
        font-style italic
        color $base-color(43)

img
    max-width 100%
