/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
}
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
}
hr {
  color: inherit;
  height: 0;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  border-color: inherit;
  text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
/*! drab.css v0 | Apache-2.0 License | github.com/heiskr/drab.css */
:root {
  --color: #2c2e31;
  --background: #fff;
  --area: #f6f9fd;
  --border: #bbbec2;
  --active: #2a5fb7;
  --active-background: #8fbeff;
  --bad: #de3e2d;
  --mark: #fef1a1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #dbdee3;
    --background: #090b0e;
    --area: #141619;
    --border: #535559;
    --active: #477ed8;
    --active-background: #0b4196;
    --bad: #de3e2d;
    --mark: #302e23;
  }
}
* {
  border: 0 solid var(--border);
}
button,
html,
input,
select,
textarea {
  background: var(--background);
  color: var(--color);
  font-size: 16px;
  line-height: 1.5;
}
code,
kbd,
pre,
samp {
  font-size: 0.875rem;
  line-height: 1.7142;
}
body {
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}
:focus {
  box-shadow: 0 0 0 2px var(--active-background);
  outline: 0;
}
:not(svg):not(th):not(td),
progress::-webkit-progress-value {
  border-radius: 0.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}
h1 {
  font-size: 2rem;
  line-height: 1.25;
}
h2,
h3 {
  line-height: 1.3333;
}
h3 {
  font-size: 1.125rem;
}
h5,
h6 {
  font-size: 1rem;
}
ol,
ul {
  padding-left: 1.5rem;
}
dd {
  margin-left: 1.5rem;
}
blockquote {
  border-left-width: 1px;
  margin-left: 0;
  padding-left: calc(1.5rem - 1px);
}
figure {
  margin: 1rem 2rem;
}
[type='button'],
[type='reset'],
[type='submit'],
button,
iframe,
img,
input,
textarea {
  max-width: 100%;
}
progress {
  height: 0.5rem;
}
hr {
  border-bottom-width: 1px;
  margin: 1rem 0 calc(1rem - 1px);
}
summary {
  cursor: pointer;
}
footer,
header,
section {
  margin: 4rem 0;
}
progress::-webkit-progress-value {
  background: var(--active-background);
}
progress::-moz-progress-bar {
  background: var(--active-background);
}
progress,
progress::-webkit-progress-bar,
tfoot,
thead {
  background: var(--area);
}
small {
  font-size: 0.875rem;
  line-height: 1.7142;
}
del,
s,
time {
  opacity: 0.7;
}
a {
  color: var(--active);
}
mark {
  background: var(--mark);
  color: var(--color);
}
input:not([type='checkbox']):not([type='radio']):not([type='range']),
textarea {
  -webkit-appearance: none;
  appearance: none;
}
::placeholder,
:disabled {
  opacity: 0.5;
}
fieldset,
input:not([type='button']):not([type='submit']):not([type='reset']),
select,
textarea {
  border-width: 1px;
}
input,
select,
textarea {
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  padding: 0.25rem 1rem;
}
[type='button'],
button {
  background: var(--active-background);
}
[type='submit'] {
  background: var(--active);
  color: var(--background);
}
[type='reset'] {
  background: var(--area);
  color: var(--bad);
}
label {
  display: block;
}
table {
  border-spacing: 0;
}
td,
th {
  padding: 0 0.5rem;
}
td:first-child,
th:first-child {
  padding-left: 1rem;
}
td:last-child,
th:last-child {
  padding-right: 1rem;
}
th {
  text-align: left;
}
tr:not(:last-child) td {
  border-bottom-width: 1px;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-m {
  vertical-align: middle;
}
.ls-i,
.ls-n {
  list-style: none;
  padding-left: 0;
}
.ls-i li {
  display: inline-block;
  margin-right: 2rem;
}
.ls-i li:last-child {
  margin-right: 0;
}
.my-c > :not(:first-child) {
  margin-top: 0;
}
.my-c > :not(:last-child) {
  margin-bottom: 0;
}
.mx-a {
  margin-left: auto;
  margin-right: auto;
}
.d-ib {
  display: inline-block;
}
.d-i {
  display: inline;
}
.w-100 {
  width: 100%;
} /*! Sagefy partial */

/* A little more dramatic form inputs and buttons. */
input,
textarea,
select {
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
}

button,
[type='submit'],
[type='button'],
[type='reset'] {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}

/* Tables are layout and data here,
   progress should be the full page. */
table,
progress {
  width: 100%;
}

/* Make important summary elements stand out a little more. */
summary > *:first-child {
  text-decoration: underline dotted;
}

/* The icons look "too high up",
   and icons should be lighter to not outweigh text. */
.Icon {
  bottom: -2px;
  position: relative;
  opacity: 0.7;
}

/* This cuts down on the HTML length considerably. */
.Icon svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Users probably won't expect yellow for a correct answer. */
mark.good {
  background: rgb(218.56, 248.03, 218.37); /* oklch(95% 0.05 145) */
}

@media (prefers-color-scheme: dark) {
  mark.good {
    background: rgb(28.88, 52.4, 29.73); /* oklch(30% 0.05 145) */
  }
}

/* Adding shadows for decoration. */
iframe,
.LearnPageCardPage img,
.PageCardPage section img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

button,
[type='submit'],
[type='button'] {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

[type='reset'] {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

:disabled {
  box-shadow: none;
}

/* Resize subject page header images */
.SubjectPage header img {
  max-height: 10rem;
  width: 100%;
  object-fit: 'cover';
}
