/*
---
title: Basic Page Layout
description: |
    Most pages on Sagefy are limited to a menu icon, a title, body contents, and end in linear navigation. This simplicity forces focus on the task at hand.

    Set the body to <code>max-width-10</code>. Use an <code>h1</code> at the top. End with linear navigation and a menu element.
example:
    <div class="max-width-10">
        <h1>A Page Title</h1>
        <nav class="pagination">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-chevron-left"></i>
                        Back
                    </a>
                </li>
                <li class="selected">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li class="pagination__separator">&hellip;</li>
                <li>
                    <a href="#">11</a>
                </li>
                <li>
                    <a href="#">12</a>
                </li>
                <li>
                    <a href="#">
                        Next
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu">
            TODO
        </div>
    </div>
---
*/
