/*
---
title: Navigated Page Layout
description: |
    A page that has been intentionally navigated to includes breadcrumbs or other navigational feature where applicable.

    Before the <code>h1</code> of &sect;11.1, include breadcrumbs navigation. Alternatively, set the body to <code>aside-right-3</code>, and use vertical navigation in the <code>aside</code>.

    TODO: Code, example
---
*/




