/*
---
title: Settings Layout
description: |
    Some views transverse Sagefy's pages.

    Borrowing the &sect; Basic Page Layout, and add horizontal tabs across the top. Alternatively, set the body to <code>aside-right-3</code>, and use vertical navigation in the <code>aside</code>. Keep to a single column form.

    TODO Code, example
---
*/
