/*
---
title: Icons
description: |
    Sagefy uses [FontAwesome](https://fortawesome.github.io/Font-Awesome/) where applicable. Use the `i` tag for icons, not italics. When presenting icons, label the icon. If you must choose between an icon and text, prefer text.
example:
    <ul class="inline">
        <li><i class="fa fa-compass"></i></li>
        <li><i class="fa fa-quote-right"></i></li>
        <li><i class="fa fa-hand-o-left"></i></li>
        <li><i class="fa fa-rocket"></i></li>
        <li><i class="fa fa-search"></i></li>
        <li><i class="fa fa-refresh"></i></li>
        <li><i class="fa fa-group"></i></li>
    </ul>
---
*/

@import "../../node_modules/font-awesome/css/font-awesome.css"

@font-face
    font-family 'FontAwesome'
    src url('fontawesome-webfont.woff?v=4.0.3') format('woff')
    font-weight normal
    font-style normal
