/*
---
title: Details & Summary
description: Sometimes known as an accordian, the details and summary tags in HTML5 are somewhat styled.
elements:
    - details
    - summary
example: |
    <details>
        <summary>More</summary>
        This is detailed information
    </detail>
---
*/


details
    margin $unit 0

summary
    font-style italic
    color $base-color(43)

    &:focus
        outline 0

