/*
---
title: Inline Labels
description: Labels are available in each of the basic hues. It is typically used for numbers or to draw unique emphasis to words or short phrases.
elements:
    - span (root)
modifiers:
    - (default)
    - good
    - bad
    - accent
example: |
    <ul>
        <li>Default: <span class="label">label</span> and numeric label: <span class="label">100</span></li>
        <li>Good: <span class="label--good">label</span> and numeric label: <span class="label--good">100</span></li>
        <li>Bad: <span class="label--bad">label</span> and numeric label: <span class="label--bad">100</span></li>
        <li>Accent: <span class="label--accent">label</span> and numeric label: <span class="label--accent">100</span></li>
    </ul>
---
*/


.label
    border-radius $unit
    display inline-block
    padding 0 ($unit / 2)
    @extend strong
    color $base-color(43)
    background $base-color(90)

.label--bad
    @extend .label
    color $bad-color(43)
    background $bad-color(90)

.label--good
    @extend .label
    color $good-color(43)
    background $good-color(90)

.label--accent
    @extend .label
    color $accent-color(43)
    background $accent-color(90)
