/*
---
title: Pagination
description: |
    Pagination all server to help the user know where there are.
example: |
    <nav class="pagination">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-chevron-left"></i>
                    Back
                </a>
            </li>
            <li class="selected">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li class="pagination__separator">&hellip;</li>
            <li>
                <a href="#">11</a>
            </li>
            <li>
                <a href="#">12</a>
            </li>
            <li>
                <a href="#">
                    Next
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </nav>
---
*/

.pagination
    margin $unit 0

    ul, ol
        list-style none
        padding-left 0

    li
        display inline-block
        margin-right $unit

        &.selected
            background $base-color(95)
            border-radius $border-radius

            a
                color $accent-color(43)
                border-color $accent-color(43)
                border-radius $border-radius

    a
        display block
        padding 0 ($unit / 2)

.pagination__separator
    color $base-color(43)
