/*
---
title: Images
description: Alt tags, title tags, and captions for images are recommended where possible. Images subscribe to the basic grid of `13px` as much as possible, more so on the width. Additionally, widths that match the grid system, `52n + 26(n-1)`, are preferable.
---
*/
