/*
---
title: Quotes and Citations
description: The `q` and `cite` tags are used together to indicate a quote and a citation. All quotes are cited. No quote marks are included when using the `q` tag. In addition to inline quotations, blockquotes can be used to pull a quote out of inline copy. The `q` and `cite` tags are used inside the `blockquote` tag.
---
*/

q
  font-style italic

cite
  font-style normal
  font-variant small-caps
  color $base-color(43)

  &:before
    color $base-color(90)
    content "\2022  "

blockquote
  border-left 2px solid $base-color(90)
  padding-left $unit
  margin $unit 0 $unit $unit

  q
    @extend $font-size-large
    margin-bottom: 0

  q, cite
    display block
