/*
---
title: Default Animations
description: |
    The primary animation is Sagefy is 200 millisecond linear fade. Animations are limited to transitioning state and representing relationships between elements. User interface animations never exceed 500 milliseconds. Where possible, use CSS for animations over JavaScript.

    TODO: Give classes, modifiers; show examples
---
*/
