/*
---
title: Buttons
description: Buttons are one of the most recognized elements of web design. Sagefy provides buttons in a variety of styles. The modifiers are based on role, not appearance. In most places, where there are multiple buttons, one and only one button should be emphasized.
elements:
    - button
    - a.button
    - .button-group (wrapper)
modifiers:
    - Roles
        - primary
        - secondary
        - danger
        - cancel
    - disabled
example: |
    <ul class="unstyled">
        <li>
            <button class="button--primary">
                Primary
            </button>

            Navigation, Next
        </li>
        <li>
            <button class="button--secondary">
                Secondary
            </button>

            Success, Accept
        </li>
        <li>
            <button class="button--danger">
                Danger
            </button>

            Error, Delete
        </li>
        <li>
            <button class="button--cancel">
                Cancel
            </button>

            Escape, Previous, Back, Information
        </li>
    </ul>

    <ul class="inline">
        <li>
            <button class="button--primary">
                Next Page
                <i class="fa fa-chevron-right"></i>
            </button>
        </li>
        <li>
            <button class="button--secondary">
                <i class="fa fa-edit"></i>
                Edit
            </button>
        </li>
        <li>
            <button class="button--danger">
                <i class="fa fa-trash-o"></i>
                Delete
            </button>
        </li>
        <li>
            <button class="button--cancel">
                <i class="fa fa-refresh"></i>
                Resume
            </button>
        </li>
    </ul>

    <div></div>

    <ul class="inline">
        <li>
            <button class="button--primary" disabled>
                Next Page
                <i class="fa fa-chevron-right"></i>
            </button>
        </li>
        <li>
            <button class="button--secondary" disabled>
                <i class="fa fa-edit"></i>
                Edit
            </button>
        </li>
        <li>
            <button class="button--danger" disabled>
                <i class="fa fa-trash-o"></i>
                Delete
            </button>
        </li>
        <li>
            <button class="button--cancel" disabled>
                <i class="fa fa-refresh"></i>
                Resume
            </button>
        </li>
    </ul>

    <div class="button-group">
        <button class="button--primary">
            Next Page
            <i class="fa fa-chevron-right"></i>
        </button>
        <button class="button--secondary">
            <i class="fa fa-edit"></i>
            Edit
        </button>
        <button class="button--danger">
            <i class="fa fa-trash-o"></i>
            Delete
        </button>
        <button class="button--cancel">
            <i class="fa fa-refresh"></i>
            Resume
        </button>
    </div>
---
*/


button-background($color, $raise = 5, $reduce = 5)
    background-color $color
    background-image -webkit-linear-gradient(lighten($color, $raise), darken($color, $reduce))
    background-image linear-gradient(lighten($color, $raise), darken($color, $reduce))

button-background-inv($color, $raise = 5, $reduce = 5)
    background-color $color
    background-image -webkit-linear-gradient(darken($color, $reduce), lighten($color, $raise))
    background-image linear-gradient(darken($color, $reduce), lighten($color, $raise))

$base-button
    border 0
    border-radius $border-radius
    padding ($unit / 2) ($unit * 4 / 3)
    margin 0 auto
    display inline-block
    margin $unit 0
    cursor pointer
    transition all 0.2s

    &:focus, &.focus
        outline 0

    &[disabled], &.button--disabled
        background transparent
        cursor not-allowed

.button
button
input[type="button"]
    @extend $base-button

    button-background $gold(90)
    color $gold(43)

    &:hover, &:focus, &.hover, &.focus
        color $gold(20)
        button-background $gold(95)

    &:active, &.active, &.selected
        button-background-inv $gold(78)

    &[disabled], &.button--disabled
        color $gold(78)

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $gold(78)
            background transparent

button[type="submit"],
.button--primary
    @extend $base-button

    button-background $blue(50)
    color $blue(99)

    &:hover, &:focus, &.hover, &.focus
        color $white
        button-background $blue(66)

    &:active, &.active, &.selected
        color $blue(95)
        button-background-inv $blue(43)

    &[disabled], &.button--disabled
        color $blue(78)

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $blue(78)
            background transparent

.button--secondary
    @extend $base-button

    button-background $green(90)
    color $green(43)

    &:hover, &:focus, &.hover, &.focus
        color $green(20)
        button-background $green(95)

    &:active, &.active, &.selected
        button-background-inv $green(78)

    &[disabled], &.button--disabled
        color $green(78)

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $green(78)
            background transparent

.button--danger
    @extend $base-button

    button-background $red(90), 3, 2
    color $red(43)

    &:hover, &:focus, &.hover, &.focus
        color $red(20)
        button-background $red(95), 3, 2

    &:active, &.active, &.selected
        button-background-inv $red(78), 3, 2

    &[disabled], &.button--disabled
        color $red(78)

        &:hover, &:focus, &.hover, &.focus, &:active, &.active, &.selected
            color $red(78)
            background transparent

.button-group
    @extend .inline-block
    vertical-align middle

    > *
        float left

        &:first-child:not(:last-child)
            border-top-right-radius 0
            border-bottom-right-radius 0

        &:last-child:not(:first-child)
            border-top-left-radius 0
            border-bottom-left-radius 0

        &:not(:first-child):not(:last-child)
            border-radius 0
