/*
---
title: Colors
description: |
    Four primary hues are used by Sagefy. All are generated via [huslp](http://www.boronine.com/husl/).

    - **Gold**. 80&deg;, 50% saturation. Serves as the base hue. Also indicates warning.
    - **Blue**. 240&deg;, 100% saturation. Indicates a clickable element or navigation element. Also an accent color when no other is applicable.
    - **Green**. 120&deg;, 100% saturation. Useful for success and acceptance states.
    - **Red**. 0&deg;, 100% saturation. Reserved for errors, danger, major issues, or to provide warmth.

    **Lightness**. Any lightness values may be used. Sagefy recommends against values darker than 20%.

example: |
    <table class="color-table">
        <thead>
            <tr>
                <th>20%</th>
                <th>40%</th>
                <th>60%</th>
                <th>80%</th>
                <th>90%</th>
                <th>95%</th>
                <th>97%</th>
                <th>99%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="base-color-20"></td>
                <td class="base-color-40"></td>
                <td class="base-color-60"></td>
                <td class="base-color-80"></td>
                <td class="base-color-90"></td>
                <td class="base-color-95"></td>
                <td class="base-color-97"></td>
                <td class="base-color-99"></td>
            </tr>
            <tr>
                <td class="accent-color-20"></td>
                <td class="accent-color-40"></td>
                <td class="accent-color-60"></td>
                <td class="accent-color-80"></td>
                <td class="accent-color-90"></td>
                <td class="accent-color-95"></td>
                <td class="accent-color-97"></td>
                <td class="accent-color-99"></td>
            </tr>
            <tr>
                <td class="good-color-20"></td>
                <td class="good-color-40"></td>
                <td class="good-color-60"></td>
                <td class="good-color-80"></td>
                <td class="good-color-90"></td>
                <td class="good-color-95"></td>
                <td class="good-color-97"></td>
                <td class="good-color-99"></td>
            </tr>
            <tr>
                <td class="bad-color-20"></td>
                <td class="bad-color-40"></td>
                <td class="bad-color-60"></td>
                <td class="bad-color-80"></td>
                <td class="bad-color-90"></td>
                <td class="bad-color-95"></td>
                <td class="bad-color-97"></td>
                <td class="bad-color-99"></td>
            </tr>
        </tbody>
    </table>
---
*/

$base-color(light)
    huslp(80, 50, light)

$accent-color(light)
    huslp(240, 100, light)

$good-color(light)
    huslp(120, 100, light)

$bad-color(light)
    huslp(0, 100, light)

$white = #ffffff
