/*
---
title: Colors
description: |
    Four primary hues are used by Sagefy. All are generated via [huslp](http://www.boronine.com/husl/) at 100% saturation.

    - **Gold**. 80&deg; Serves as the base hue. Also ndicates warning.
    - **Blue**. 240&deg; -- Indicates a clickable element or navigation element. Also an accent color when no other is applicable.
    - **Green**. 120&deg; -- Useful for success and acceptance states.
    - **Red**. 0&deg; -- Reserved for errors, danger, major issues, or to provide warmth.

    **Lightness**. Any lightness values may be used. Sagefy recommends against values darker than 20%.

example: |
    <table class="color-table">
        <thead>
            <tr>
                <th></th>
                <th>20%</th>
                <th>43%</th>
                <th>66%</th>
                <th>78%</th>
                <th>90%</th>
                <th>95%</th>
                <th>97%</th>
                <th>99%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gold</td>
                <td style="background:#343115"></td>
                <td style="background:#6c6733"></td>
                <td style="background:#aba354"></td>
                <td style="background:#ccc375"></td>
                <td style="background:#e7e3c7"></td>
                <td style="background:#f3f1e4"></td>
                <td style="background:#f8f7ef"></td>
                <td style="background:#fdfcfa"></td>
            </tr>
            <tr>
                <td>Blue</td>
                <td style="background:#1f3243"></td>
                <td style="background:#456988"></td>
                <td style="background:#6fa6d4"></td>
                <td style="background:#90c6f7"></td>
                <td style="background:#d2e4fa"></td>
                <td style="background:#e9f2fc"></td>
                <td style="background:#f2f7fd"></td>
                <td style="background:#fbfcfe"></td>
            </tr>
            <tr>
                <td>Green</td>
                <td style="background:#22351c"></td>
                <td style="background:#4c6e3f"></td>
                <td style="background:#7aae67"></td>
                <td style="background:#99cf87"></td>
                <td style="background:#d2e9cc"></td>
                <td style="background:#e9f4e6"></td>
                <td style="background:#f2f8f0"></td>
                <td style="background:#fbfdfa"></td>
            </tr>
            <tr>
                <td>Red</td>
                <td style="background:#45282e"></td>
                <td style="background:#8c5661"></td>
                <td style="background:#da899a"></td>
                <td style="background:#ffa9ba"></td>
                <td style="background:#ffd9e0"></td>
                <td style="background:#ffecef"></td>
                <td style="background:#fff4f6"></td>
                <td style="background:#fffbfc"></td>
            </tr>
        </tbody>
    </table>
---
*/

$gold(light)
    huslp(80, 100, light)

$blue(light)
    huslp(240, 100, light)

$green(light)
    huslp(120, 100, light)

$red(light)
    huslp(0, 100, light)

$white = #ffffff
