/*
---
title: Images
description: Alt tags, title tags, and captions for images are recommended where possible. Images subscribe to the basic grid of `12px` as much as possible, more so on the width. Additionally, widths that match the grid system, `48n + 24(n-1)`, are preferable.
elements:
    - img
example:
    <img src="https://placekitten.com/g/24/24" />
    <img src="https://placekitten.com/g/48/48" />
    <img src="https://placekitten.com/g/60/60" />
    <img src="https://placekitten.com/g/72/72" />
    <img src="https://placekitten.com/g/96/96" />
    <img src="https://placekitten.com/g/120/120" />
---
*/

/*
---
title: Image Captions
description: Images can be framed by wrapping them in a <code>figure</code> tag. Be sure to subtract 20px to account for padding incurred. The <code>figcaption</code> tag can be used inside of a <code>figure</code> tag to add a caption. This prodecure is useful but not limited to images.
elements:
    - figure
    - figcaption
    - img
example:
    <figure>
        <img src="https://placekitten.com/g/120/120" />
        <figcaption>Figcaptions are not limited to images, but images are an excellent example.</figcaption>
    </figure>
---
*/

figure
    display inline-block
    padding ($unit / 2)
    border 1px solid $base-color(95)
    background white
    border-radius $border-radius

    img
        display block
        margin 0 auto

figcaption
    font-style italic
    margin-top $unit
    color $base-color(43)

/*
---
title: Avatars
description: |
    Avatars simply use the <a href="https://en.gravatar.com/">Gravatar</a> system. Sizes match the image sizes stated above. Avatars are not captioned.

    TODO Add avatar example
---
*/

/*
---
title: Logos and Branding
description: The Sagefy logo is a mariner's astrolabe. It is presented on all pages, and clicking it either returns to a home page or presents an overlayed menu of options. The Sagefy name, when used independently or with the logo, is lowercase, normal weight Palatino in color <code>#343115</code>. It is not required to accompany the logo. When used in a sentence or title, Sagefy is capitalized.
example:
    <img src="/astrolabe.svg" height="300" />
---
*/

/*
---
title: Region Flags
description: |
    Where applicable, we use <a href="https://github.com/koppi/iso-country-flags-svg-collection">this collection</a> of flags for countries and regions.

    TODO Add Region Flags example
---
*/
