/*
---
title: Typography
description: |
    Sagefy strives to provide basic typographic support for all commonly used HTML5 elements.

    For more on excellent web typography, check out [Practical Typography](http://practicaltypography.com/).
---
*/

html, body, input, textarea, select, button
    font-family $base-font-family
    font-size $font-size
    line-height ($unit * 2)

body
    color $gold-20
    background $gold-99

/*
---
title: Links
description: Links are simply blue in color, and like other states, <em>lighten</em> on hover and focus, and <em>darken</em> on active (clicked) or selected. Icons can be optionally included in links. Links stay underlined to support the color. Visited links receive no extraordinary treatment.
elements:
    - a
modifiers:
    - hover
    - focus
    - active
    - selected
example: |
    <ul>
        <li><a href="#">Normal link</a></li>
        <li><a href="#" class="hover">Hovered or focused link</a></li>
        <li><a href="#" class="selected">Active or selected link</a></li>
    </ul>
---
*/

a
    color $blue-50
    transition color 0.2s
    text-decoration none
    border-bottom 1px solid $blue-66

    &:hover, &.hover, &:focus, &.focus
        color $blue-66
        border-color $blue-78

    &:active, &.active, &.selected
        color $blue-20
        border-color $blue-43

/*
---
title: Font Sizes
description: |
    Font sizes are fuzzified by names. Available sizes are:

    - small
    - normal
    - accent
    - large
    - big
    - epic
example: |
    <span class="font-size-small">I'm a huge font size</span>
    <span class="font-size-normal">I'm an outstanding font size</span>
    <span class="font-size-accent">I'm a small font</span>
    <span class="font-size-large">I'm a blend-in font size</span>
    <span class="font-size-big">I'm a lovely font size</span>
    <span class="font-size-epic">I'm a tiny font size</span>
---
*/

for set in (small 14 24) (normal 16 24) (accent 18 24) (large 20 24) (big 26 36) (epic 30 36)
    .font-size-{set[0]}
        font-size unit(set[1], "px")
        line-height unit(set[2], "px")

/*
---
title: Width Limiting
description: |
    Because paragraphs can become too long to read, we provide a `width-limit` class to keep it under control. Most type specialists consider about 13-15 words per line ideal.
example: |
    <p class="width-limit">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
---
*/

.width-limit
    max-width cols(10)

    &.full-width
        max-width auto

/*
---
title: Headings, Subheadings, and Header Groups
description: All elements <code>h1</code> through <code>h6</code> are styled. Sub-headers use the class <code>subheader</code> when used directly below a higher order header. An <code>hgroup</code> collapses the margins between the headers. Optionally, elements can float along with the header. The most easy way to accomplish this is to wrap the header in an <code>hgroup</code> and add the class <code>inline-block</code> to the header tag.
elements:
    - h1, h2, h3, h4, h5, h6
    - hgroup
modifiers:
    - subheader
example: |
    <h1>h1. A Page Level Heading</h1>
    <h2>h2. A Section Level Heading</h2>
    <h3>h3. A Subsection Level Heading</h3>
    <h4>h4. A Division Level Heading</h4>
    <h5>h5. Additional Level Heading</h5>
    <h6>h6. Small Level Heading</h6>

    <hgroup>
        <h1>h1. A Page Level Heading</h1>
        <h2 class="subheader">h2. A subtitle of h1</h2>
        <h3 class="subheader">h3. And a third level title</h3>
    </hgroup>

    <hgroup>
        <h1 class="inline-block push-right">h1. A Page Level Heading</h1>
        <a href="#"><i class="fa fa-heart"></i>An additional link</a>
    </hgroup>
---
*/

h1, h2, h3, h4, h5, h6, p, ul, ol, pre, blockquote, hr
    margin $unit 0

h1, h2, h3, h4, h5, h6
    margin $unit 0
    font-weight bold

    em
        font-style normal

    strong
        background-color $gold-95
        border-radius $border-radius

    &.subheader
        font-weight normal
        color $gold-43
        font-style italic

h3, h4, h5, h6
    color $gold-43

hgroup
    :not(:first-child)
        margin-top 0
    :not(:last-child)
        margin-bottom 0

h1
    @extend .font-size-epic

h2
    @extend .font-size-big

h3
    @extend .font-size-large

h4
    @extend .font-size-accent

h5
    @extend .font-size-normal

h6
    @extend .font-size-normal

/*
---
title: Paragraphs
description: |
    Paragraphs follow standard conventions. Paragraphs have a default maximum width to improve readability. This can be overwritten using the <code>full-width</code> class.
---
*/

p
    @extend .width-limit

/*
---
title: Leading Paragraphs
description: Leading paragraphs, commonly used after the page title, emphasis a block of text. Often leading paragraphs are used to describe the page contents.
elements:
    - p.leading
example: |
    <p class="leading">
        An example paragraph in the leading style.
    </p>
---
*/

.leading
    @extend .font-size-accent
    color $gold-43

/*
---
title: Small, Strong, Emphasis, Deletion, Insertion, Mark, Subscript, Superscript, Abbreviations, and Code
description: All normal tag operations are supported and provide expected results. Note that <code>b</code>, <code>s</code>, and <code>u</code> tags are not supported, and <code>i</code> tags are reserved for icons, not italics. Other elements, such as <code>var</code>, <code>samp</code>, and <code>kbd</code>, are styled but non-effectively.
elements:
    - small, strong, em, del, ins, mark, sub, sub, abbr, code
example: |
    <ul>
        <li><strong>A strong element</strong></li>
        <li><em>An emphasized element</em></li>
        <li><small>A small element</small></li>
        <li><del>A deleted element</del></li>
        <li><ins>An inserted element</ins></li>
        <li><mark>A marked element</mark></li>
        <li><sub>A subscript element</sub> and a normal element</li>
        <li><sup>A superscript element</sup> and a normal element</li>
        <li>An example abbreviation: <abbr data-title="Hypertext Transfer Protocol">HTTP</abbr></li>
        <li><code>Inline code element</code></li>
    </ul>
---
*/

del
    color $gold-66

ins
    text-decoration none
    background $white
    border-radius $border-radius

mark
    background $gold-95
    border-radius $border-radius

abbr
    border-bottom 1px solid $gold-66

pre, samp, code, kbd
    @extend .monospace
    @extend .font-size-small

small
    @extend .font-size-small

code
    color $gold-43

/*
---
title: Quotes and Citations
description: The <code>q</code> and <code>cite</code> tags are used together to indicate a quote and a citation. All quotes are cited. No quote marks are included when using the <code>q</code> tag. In addition to inline quotations, blockquotes can be used to pull a quote out of inline copy. The <code>q</code> and <code>cite</code> tags are used inside the <code>blockquote</code> tag.
elements:
    - q, cite, blockquote
example: |
    <p>
        <q>Prior knowledge has a large influence on student performance, explaining up to 81 percent of the variance in post-test scores.</q> <cite>Dochy, Segers, and Buehl</cite>
    </p>

    <blockquote>
        <q>Prior knowledge has a large influence on student performance, explaining up to 81 percent of the variance in post-test scores.</q>
        <cite>Dochy, Segers, and Buehl</cite>
    </blockquote>
---
*/

q
    font-style italic

cite
    font-style normal
    font-variant small-caps
    color $gold-43

    &:before
        color $gold-90
        content "\2022  "

blockquote
    border-left 2px solid $gold-90
    padding-left $unit
    margin-left $unit

    q
        @extend .font-size-accent
        margin-bottom: 0

    q, cite
        display block

/*
---
title: Horizontal Rules
description: Horizontal rules are avoided as Sagefy prefers whitespace over lines. Rules are useful in certain situations, however.
elements:
    - hr
example: |
    <hr />
---
*/

hr
    border 0
    background $gold-90
    height 2px
    margin 1em 0


/*
---
title: Definition
description: The <code>dfn</code> element can be used on the defining instance of a term. It is often used with a title attribute with a defintion of the term.
elements:
    - dfn
example: |
    An example definition of <dfn data-title="The perception of fluctuations of air pressure.">sound</dfn>.
---
*/

/*
---
title: Time and Dates
description: The `time` tag is used to describe specific dates and times. It does not indicate durations. The `datetime` attribute is optional.
elements:
    - time
example: |
    <time datetime="2009-11-13">November 13<sup>th</sup></time>
---
*/

/*
---
title: Addresses, Header, Footer, Aside, Section, Article, Nav
description: Addresses are commonly misunderstood elements. The <code>address</code> tag is used to indicate who to contact for a particular document. The tag is not used for arbitrary postal addresses and email address. Sagefy does not style the <code>address</code> tag. Other block tags such as header and footer are used for semantic representation, but receive no special styling.
elements:
    - address, header, footer, aside, section, article, nav
---
*/

/*
---
title: Programming Code and Preformatted Elements
description: |
    Preformatted element defaults to use monospaced fonts. Computer code is syntax highlighted based on language.

    - [Highlight.js](http://highlightjs.org/)

elements:
    - pre
example: >
    <pre>
    $ ->
        $anchor = $ 'a[href*="\\"]'
        $anchor.click ->
            $(this).attr "target", "_blank"
            true
    </pre>
---
*/

