<h1>Hello {{username}}!</h1>

<ul>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/notifications">Notifications</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
