<h1>
    Login
</h1>

<p>
    Don't have an account?
    <a href="/signup"><i class="fa fa-user"></i> Signup</a>
</p>

<form method="post" action="/api/users/login">
    <div class="form-field form-field--text">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="e.g. Marissa" size="50" type="text" />
    </div>
    <div class="form-field form-field--text">
        <label for="password">Password</label>
        <input id="password" name="password" size="50" type="password" />
    </div>
    <button type="submit">
        <i class="fa fa-sign-in"></i>
        Login
    </button>
</form>
