{
  "extends": ["airbnb", "prettier", "plugin:security/recommended"],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "expect": true,
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-depth": ["error", 4],
    "max-lines": ["error", 400],
    "max-params": ["error", 3],
    "max-statements": ["error", 20],
    "no-negated-condition": "error",
    "complexity": ["error", 10],
    "no-useless-call": "error",
    "object-shorthand": ["error", "always"],
    "no-param-reassign": "off",
    "no-nested-ternary": "off",
    "no-loop-func": "off"
  }
}
