
<img src="http://www.descovrir.org/static/astrolabe.svg" id="logo" />

<h1>
    Style Guide &amp; Component Library
</h1>

    <p class="leading">
        Welcome to the Descovrir Style Guide. This page covers the styling and conventions of Descovrir  user interfaces. This guide also include commonly used components. Suggestions are welcome via pull requests.
    </p>

    <!-- Show an example, and then markup and relevant classes, then notes -->

    <h2>1. Layout, Grid, and Rhythm</h2>

        <h3>1.1 Metrics</h3>

            <p>
                Descovrir uses a larger-than-typical metric system. The rhythm is 24px both vertically and horizontally. The base font size is 16px with a line-height of 24px. Columns are 48px and gutters are 24px. Because of Descovrir's large metrics, a great deal of focus and minimalism is required.
            </p>

            <p>
                Different screen sizes alter the number of columns present. While Descovrir is not considered <a href="http://alistapart.com/article/responsive-web-design">responsive web design</a>, it does adjust to available width. Ideas are borrowed from <a href="http://framelessgrid.com/">Frameless Grid</a>, <a href="http://getbootstrap.com/">Twitter Bootstrap</a>, and <a href="http://foundation.zurb.com/">Foundation</a>.
            </p>

            <table class="size-table">
                <thead>
                    <tr>
                        <th>Columns</th>
                        <th>Inside</th>
                        <th>Outside</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>4</td>
                        <td>264px</td>
                        <td>312px</td>

                    </tr>
                    <tr>
                        <td>6</td>
                        <td>408px</td>
                        <td>456px</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>552px</td>
                        <td>600px</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>696px</td>
                        <td>744px</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>840px</td>
                        <td>888px</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>984px</td>
                        <td>1032px</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>1128px</td>
                        <td>1176px</td>
                    </tr>
                </tbody>
            </table>

        <h3>1.2 Layouts</h3>

            <p>
                Descovrir takes a layout-specified approach rather than a column-specified approach. There are essentially <strong>five types of layouts</strong> present in most web designs. Layouts can be nested within each other.
            </p>

            <p>
                Any element may be set to a specific number of columns, using the class <code>col-n</code>. Any element with set columns larger than the available screen will be reduced to the maximum width.
            </p>

            <p>
                <em>&sect;11 Page Layouts</em> describes some common use cases of layout combinations.
            </p>

            <h3>1.2.1 Full Width Layout</h3>

                <p>
                    A full-width element assumes the width of its parent. Full-width is native to block level elements, but can be manually set by <code>full-width</code>.
                </p>


            <h3>1.2.2 Max Width Layout</h3>

                <p>
                    A max-width element will assume the width of its parent up to a specified number of columns. Max width is set by the class <code>max-width-n</code>. Prefer max-widths set in two, four, six...
                </p>

            <h3>1.2.3 Serial Layout</h3>

                <p>
                    A serial layout consists of a set of even-width elements. Serial layouts specify a maximum number of columns per element.
                </p>

                <p>
                    Wrap the elements in a <code>div</code> of <code>serial-n</code>, where <var>n</var> is the number of columns from one to eight, not the number of elements.
                </p>

            <h3>1.2.4 Aside Layout</h3>

                <p>
                    An aside, either on the left or right side, of one to six columns. The main element will take the rest of the parent's width. When the main is less than 60% of the parent, both the main and the aside appear in full width. For a two-in-one aside, use the serial layout inside the aside.
                </p>

                <p>
                    Wrap both <code>main</code> and <code>aside</code> in a <code>div</code> with the class <code>aside-d-n</code>, where <var>d</var> is either <em>left</em> or <em>right</em>, and <var>n</var> is the number of columns of the aside.
                </p>

            <h3>1.2.5 Double Aside Layout</h3>

                <p>
                    Two asides appear with the main content, one on the left and one on the right. Each aside is one to five columns. The main element takes the remaining space. If the main element is less than 60% of the parent, all three elements are in full width. The sum of the aside columns must be six or less.
                </p>

                <p>
                    Create container <code>aside-left-dl-right-dr</code>, where <var>dl</var> is the number of left columns and <var>dr</var> is the number of right columns. Create an <code>aside</code>, <code>main</code>, and <code>aside</code> elements within the container.
                </p>

    <h2>2. Colors, Icons, Images</h2>

        <h3>2.1 Colors</h3>

            <table class="color-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>20%</th>
                        <th>43%</th>
                        <th>66%</th>
                        <th>78%</th>
                        <th>90%</th>
                        <th>95%</th>
                        <th>99%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9&deg;</td>
                        <td style="background:#44292a"></td>
                        <td style="background:#8b585b"></td>
                        <td style="background:#d98b90"></td>
                        <td style="background:#fdabb0"></td>
                        <td style="background:#fedadb"></td>
                        <td style="background:#ffeced"></td>
                        <td style="background:#fffbfb"></td>
                    </tr>
                    <tr>
                        <td>81&deg;</td>
                        <td style="background:#343115"></td>
                        <td style="background:#6c6733"></td>
                        <td style="background:#aaa354"></td>
                        <td style="background:#cbc475"></td>
                        <td style="background:#e7e3c7"></td>
                        <td style="background:#f3f1e4"></td>
                        <td style="background:#fcfcfa"></td>
                    </tr>
                    <tr>
                        <td>153&deg;</td>
                        <td style="background:#0f3728"></td>
                        <td style="background:#287256"></td>
                        <td style="background:#44b389"></td>
                        <td style="background:#68d5a9"></td>
                        <td style="background:#c5ebd9"></td>
                        <td style="background:#e3f5ec"></td>
                        <td style="background:#f9fdfb"></td>
                    </tr>
                    <tr>
                        <td>225&deg;</td>
                        <td style="background:#143440"></td>
                        <td style="background:#316d83"></td>
                        <td style="background:#51abcd"></td>
                        <td style="background:#75ccef"></td>
                        <td style="background:#cae7f6"></td>
                        <td style="background:#e6f3fa"></td>
                        <td style="background:#fafcfe"></td>
                    </tr>
                    <tr>
                        <td>297&deg;</td>
                        <td style="background:#3c2a42"></td>
                        <td style="background:#7b5a86"></td>
                        <td style="background:#c18ed1"></td>
                        <td style="background:#e3aef4"></td>
                        <td style="background:#f0dcf8"></td>
                        <td style="background:#f7edfb"></td>
                        <td style="background:#fdfbfe"></td>
                    </tr>
                </tbody>
            </table>

            <p>
                Descovrir uses a color scheme derived from <a href="http://boronine.com/husl/">HUSLp</a>, which corrects issues with HSL, CIE-based color schemes, and HUSL itself at the price of highly saturated colors.
            </p>

            <p>
                <strong>Hue</strong>. 5 primary hues are used by Descovrir.
            </p>

            <ul>
                <li>
                    9&deg; &ndash; Red. Reserved for errors, danger, major issues, or to provide warmth.
                </li>
                <li>
                    81&deg; &ndash; Gold. Serves as the base hue. Useful for warning states. Where possible use this hue over red.
                </li>
                <li>
                    153&deg; &ndash; Green. Useful for success and acceptance states.
                </li>
                <li>
                    225&deg; &ndash; Blue. Indicates a clickable element or navigation element. Also an accent color when no other is applicable.
                </li>
                <li>
                    297&deg; &ndash; Purple. Represents authority and acceptance.
                </li>
            </ul>

            <p>
                Other hues can be used, particularly when hue is a linear function, such as a progress bar color.
            </p>

            <p>
                <strong>Saturation</strong>. Descovrir defaults to using the full saturation available (100%) at any particular hue. Desaturation is available particularly at disabled states, and multiple of 20% are preferred for such states.
            </p>

            <p>
                <strong>Lightness</strong>. Any lightness values may be used. Descovrir recommends against values darker than 20%. Default to 20%, 43%, 66%, 78%, 90%, 95%, and 99% where applicable.
            </p>

        <h3>2.2 Icons</h3>

            <h4>2.2.1 Icon font</h4>

                <p>
                    Descovrir uses <a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a> where applicable. Use the <code>i</code> tag for icons, not italics.
                </p>

                <ul class="inline">
                    <li><i class="icon-compass"></i></li>
                    <li><i class="icon-quote-right"></i></li>
                    <li><i class="icon-remove-sign"></i></li>
                    <li><i class="icon-rocket"></i></li>
                    <li><i class="icon-search"></i></li>
                    <li><i class="icon-refresh"></i></li>
                    <li><i class="icon-group"></i></li>
                </ul>

            <h4>2.2.2 Region flags</h4>

                <p>
                    Where applicable, we use <a href="https://github.com/koppi/iso-country-flags-svg-collection">this collection</a> of flags for countries and regions.
                </p>

        <h3>2.3 Images</h3>

            <p>
                Alt tags, title tags, and captions for images are recommended where possible.
            </p>

            <h4>2.3.1 Image sizes</h4>

                <p>
                    Images subscribe to the basic grid of 12px as much as possible, more so on the width. Additionally, widths that match the grid system, <code>48n + 24(n-1)</code>, are preferable.
                </p>

                <img src="http://placehold.it/12x12/e7e3c7/aaa354" />
                <img src="http://placehold.it/24x24/e7e3c7/aaa354" />
                <img src="http://placehold.it/36x36/e7e3c7/aaa354" />
                <img src="http://placehold.it/48x48/e7e3c7/aaa354" />
                <img src="http://placehold.it/72x72/e7e3c7/aaa354" />
                <img src="http://placehold.it/120x120/e7e3c7/aaa354" />
                <img src="http://placehold.it/192x192/e7e3c7/aaa354" />

            <h4>2.3.2 Image captions</h4>

                <p>
                    Images can be framed by wrapping them in a <code>figure</code> tag. Be sure to subtract 24px to account for padding incurred.
                </p>

                <figure>
                    <img src="http://placehold.it/72x72/e7e3c7/aaa354" />
                </figure>

                <p>
                    The <code>figcaption</code> tag can be used inside of a <code>figure</code> tag to add a caption. This prodecure is useful but not limited to images.
                </p>

                <figure>
                    <img src="http://placehold.it/192x192/e7e3c7/aaa354" />
                    <figcaption>Figcaptions are not limited to images, but images are an excellent example.</figcaption>
                </figure>


            <h4>2.3.2 Avatars</h4>

                <p>
                    Avatars simply use the <a href="https://en.gravatar.com/">Gravatar</a> system. Sizes  match the image sizes stated above. Avatars are not captioned.
                </p>

            <h4>2.3.2 Logos and Branding</h4>

                <p>
                    The Descovrir logo is a mariner's astrolabe. It is presented on all pages, and clicking it either returns to a home page or presents an overlayed menu of options.
                </p>


                <img src="http://www.descovrir.org/static/astrolabe.svg" height="300" />

                <p>
                    The Descovrir name, when used independently or with the logo, is lowercase, normal weight Palatino in color <code>#343115</code>. It is not required to accompany the logo. When used in a sentence or title, Descovrir is capitalized.
                </p>

    <h2>3. Typography</h2>

        <h3>3.1 Font stacks</h3>

            <p>
                Descovrir's primary typeface is Palatino. Monospaced typography uses DejaVu Sans Mono derivatives. When necessary, Lucida can be used as a san-serif typeface. Note Lucida does not support true italics on several operating systems.
            </p>

            <ul>
                <li><strong>Base</strong>: "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", serif</li>
                <li class="monospace"><strong>Monospace</strong>: menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace</li>
                <li class="sans-serif"><strong>Sans-serif</strong>: "lucida grande", "lucida sans unicode", "lucida sans", geneva, sans-serif</li>
            </ul>

            <p>
                The classes <code>base-font</code>, <code>monospace</code>, and <code>sans-serif</code> can be used to alter the typeface.
            </p>

        <h3>3.2 Headings, Subheadings, and Header Groups</h3>

            <p>
                All elements <code>h1</code> through <code>h6</code> are styled.
            </p>

            <figure>

                <h1>h1. A Page Level Heading</h1>

                <h2>h2. A Section Level Heading</h2>

                <h3>h3. A Subsection Level Heading</h3>

                <h4>h4. A Division Level Heading</h4>

                <h5>h5. Additional Level Heading</h5>

                <h6>h6. Small Level Heading</h6>

            </figure>

            <p>
                Sub-headers use the class <code>subheader</code> when used directly below a higher order header. An <code>hgroup</code> collapses the margins between the headers.
            </p>

            <figure>

                <hgroup>
                    <h1>h1. A Page Level Heading</h1>
                    <h2 class="subheader">h2. A subtitle of h1</h2>
                    <h3 class="subheader">h3. And a third level title</h3>
                </hgroup>

            </figure>

            <h4>3.2.1 Small inline elements with headers</h4>

                <p>
                    Optionally, elements can float along with the header. The most easy way to accomplish this is to wrap the header in an <code>hgroup</code> and add the class <code>inline-block</code> to the header tag.
                </p>

                <figure>
                    <hgroup>
                        <h1 class="inline-block push-right">h1. A Page Level Heading</h1>
                        <a href="#"><i class="icon-heart"></i>An additional link</a>
                    </hgroup>
                </figure>

    <h2>4. Inline-level tags</h2>

        <h3>4.1 Links</h3>

            <p>
                Links are simply blue in color, and like other states, <em>lighten</em> on hover and focus, and <em>darken</em> on active (clicked) or selected. Icons can be optionally included in links. Links stay underlined to support the color. Visited links receive no extraordinary treatment.
            </p>

            <ul>
                <li><a href="#">Normal link</a></li>
                <li><a href="#" class="hover">Hovered or focused link</a></li>
                <li><a href="#" class="selected">Active or selected link</a></li>
            </ul>

        <h3>4.2 Small, Strong, Emphasis, Deletion, Insertion, Mark, Subscript, Superscript, Abbreviations, and Code</h3>

            <p>
                All normal tag operations are supported and provide expected results. Note that <code>b</code>, <code>s</code>, and <code>u</code> tags are not supported, and <code>i</code> tags are reserved for icons, not italics.
            </p>

            <ul>
                <li><strong>A strong element</strong></li>
                <li><em>An emphasized element</em></li>
                <li><small>A small element</small></li>
                <li><del>A deleted element</del></li>
                <li><ins>An inserted element</ins></li>
                <li><mark>A marked element</mark></li>
                <li><sub>A subscript element</sub> and a normal element</li>
                <li><sup>A superscript element</sup> and a normal element</li>
                <li>An example abbreviation: <abbr data-title="Hypertext Transfer Protocol">HTTP</abbr></li>
                <li><code>Inline code element</code></li>
            </ul>

            <p>
                Other elements, such as <code>var</code>, <code>samp</code>, and <code>kbd</code>, are styled but non-effectively.
            </p>

        <h3>4.3 Defintion</h3>

            <p>
                The <code>dfn</code> element can be used on the defining instance of a term. It is often used with a title attribute with a defintion of the term.
            </p>

            <figure>
                An example definition of <dfn data-title="The perception of fluctuations of air pressure.">sound</dfn>.
            </figure>

        <h3>4.3 Time and Dates</h3>

            <p>
                The <code>time</code> tag is used to describe specific dates and times. It does not indicate durations. The <code>datetime</code> attribute is optional.
            </p>

        <h3>4.4 Inline Quotations and Citations</h3>

            <p>
                The <code>q</code> and <code>cite</code> tags are used together to indicate a quote and a citation. All quotes are cited. No quote marks are included when using the <code>q</code> tag.
            </p>

            <p>
                <q>Prior knowledge has a large influence on student performance, explaining up to 81 percent of the variance in post-test scores.</q> <cite>Dochy, Segers, and Buehl</cite>
            </p>

        <h3>4.5 Inline Labels</h3>

            <p>
                Labels are available in each of the basic hues.
            </p>

            <ul>
                <li>Error or Danger: <span class="label--error">label</span> and numeric label: <span class="label--error">100</span></li>
                <li>Default, Base or Warn: <span class="label--warn">label</span> and numeric label: <span class="label--warn">100</span></li>
                <li>Success or Accept: <span class="label--accept">label</span> and numeric label: <span class="label--accept">100</span></li>
                <li>Accent or Info: <span class="label--info">label</span> and numeric label: <span class="label--info">100</span></li>
                <li>Official or Admin: <span class="label--official">label</span> and numeric label: <span class="label--official">100</span></li>
            </ul>

    <h2>5. Block-level tags</h2>

        <h3>5.1 Paragraphs</h3>

            <p>
                Paragraphs follow standard conventions. Paragraphs have a default maximum width to improve readability. This can be overwritten using the <code>full-width</code> class.
            </p>

            <h4>5.1.1 Leading Paragraphs</h4>

            <p>
                Leading paragraphs, commonly used after the page title, emphasis a block of text. Often leading paragraphs are used to describe the page contents.
            </p>

            <p class="leading">
                An example paragraph in the leading style.
            </p>

        <h3>5.2 Lists</h3>

            <h4>5.2.1 Unordered Lists</h4>

                <p>
                    Unordered lists follow standard conventions. Line items do not hold extra margins. Only root-level unordered lists have a bottom margin.
                </p>

                <ul>
                    <li>Item 1
                        <ul>
                            <li>Item 1.1</li>
                            <li>Item 1.2</li>
                            <li>Item 1.3</li>
                        </ul>
                    </li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>

            <h4>5.2.2 Ordered Lists</h4>

                <p>
                    Ordered lists follow the standard conventions as well.
                </p>

                <ol>
                    <li>Item 1
                        <ul>
                            <li>Item 1.1</li>
                            <li>Item 1.2</li>
                            <li>Item 1.3</li>
                        </ul>
                    </li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ol>

            <h4>5.2.3 Unstyled Lists</h4>

                <p>
                    Lists can be unstyled using the <code>unstyled</code> class. Margins still count on lower level lists.
                </p>

                <ul class="unstyled">
                    <li>Item 1
                        <ul>
                            <li>Item 1.1</li>
                            <li>Item 1.2</li>
                            <li>Item 1.3</li>
                        </ul>
                    </li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>

            <h4>5.2.4 Horizontal Lists</h4>

                <p>
                    Horizontal, or inline, lists are also supported. Often used as simple navigational menus. Subitems do not appear.
                </p>

                <ul class="horizontal">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>

            <h4>5.2.5 Definition Lists</h4>

                <p>
                    Definition lists are useful for glossaries, dictionaries, and outlines. The tags <code>dl</code>, <code>dt</code>, and <code>dd</code> are used together to form the definition list. Definition lists are also used for marking up metadata.
                </p>

                <dl>
                    <dt>RSS</dt>
                    <dd>An XML format for aggregating information from websites whose
                    content is frequently updated.</dd>
                    <dt>Weblog</dt>
                    <dd>Contraction of the term "web log", a weblog is a
                    website that is periodically updated, like a journal</dd>
                </dl>

            <h4>5.2.6 Lists with Thumbnails</h4>

                <p>
                    A very common on the internet is a list featuring thumbnails. These lists are zebra-striped and can be marked up either as actual lists, or for convienence, tables. Lists with thumbnails use the <code>with-thumbnails</code> class.
                </p>

                <table class="list--with-thumbnails">
                    <tr>
                        <td>
                            <img src="http://placehold.it/48x48/e7e3c7/aaa354" data-title="48x48" />
                        </td>
                        <td>
                            <h4>List Item 1</h4>
                            <p>A description of list item 1.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://placehold.it/48x48/e7e3c7/aaa354" data-title="48x48" />
                        </td>
                        <td>
                            <h4>List Item 1</h4>
                            <p>A description of list item 1.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://placehold.it/48x48/e7e3c7/aaa354" data-title="48x48" />
                        </td>
                        <td>
                            <h4>List Item 1</h4>
                            <p>A description of list item 1.</p>
                        </td>
                    </tr>
                </table>

        <h3>5.3 Quotes and Citations</h3>

            <p>
                In addition to inline quotations, blockquotes can be used to pull a quote out of inline copy. The <code>q</code> and <code>cite</code> tags are used inside the <code>blockquote</code> tag.
            </p>

            <blockquote>
                <q>Prior knowledge has a large influence on student performance, explaining up to 81 percent of the variance in post-test scores.</q>
                <cite>Dochy, Segers, and Buehl</cite>
            </blockquote>

        <h3>5.4 Horizontal Rules</h3>

            <p>
                Horizontal rules are avoided as Descovrir prefers whitespace over lines. Rules are useful in certain situations, however.
            </p>

            <hr />

        <h3>5.5 Addresses, Header, Footer, Aside, Section, Article, Nav</h3>

            <p>
                Addresses are commonly misunderstood elements. The <code>address</code> tag is used to indicate who to contact for a particular document. The tag is not used for arbitrary postal addresses and email address. Descovrir does not style the <code>address</code> tag.
            </p>

            <p>
                Other block tags such as header and footer are used for semantic representation, but receive no special styling.
            </p>

        <h3>5.6 Programming Code and Preformatted Elements</h3>

            <p>
                Preformatted element defaults to use monospaced fonts. Computer code is syntax highlighted based on language.
            </p>

            <ul>
                <li><a href="http://alexgorbatchev.com/SyntaxHighlighter/">SyntaxHighligher</a></li>
                <li><a href="http://craig.is/making/rainbows">Rainbows</a></li>
                <li><a href="http://softwaremaniacs.org/soft/highlight/en/">Highlight</a></li>
                <li><a href="http://prismjs.com/">PrismJS</a></li>
            </ul>

            <pre>
$ ->
    $anchor = $ 'a[href*="\\"]'
    $anchor.click ->
        $(this).attr "target", "_blank"
        true
            </pre>

        <h3>5.7 Scrollbars</h3>

            <p>
                Scrollbars receive some custom styling in Chrome and Safari.
            </p>

            <div style="overflow-y:scroll; height:200px">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

    <h2>6. Tables</h2>

        <p>
            Tables are zebra-striped, and common elements such as header and footer rows are available. Rows classes are available for each hue; as they only change hue, another indicator needs to be used to differentiate row types. Supplimental tags, such as <code>tbody</code> are recommended.
        </p>

        <table>
            <caption>An example table with a header row and a caption.</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Marissa</td>
                    <td>marissa@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Edward</td>
                    <td>edward@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Theo</td>
                    <td>theo@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jasmine</td>
                    <td>jasmine@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--accept">
                    <td>5</td>
                    <td>Jacob</td>
                    <td>jacob@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--accept">
                    <td>6</td>
                    <td>Alexander</td>
                    <td>alexander@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--accent">
                    <td>7</td>
                    <td>Cornelia</td>
                    <td>cornelia@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--accent">
                    <td>8</td>
                    <td>Sophie</td>
                    <td>sophie@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--error">
                    <td>9</td>
                    <td>Kadri</td>
                    <td>kadri@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--error">
                    <td>10</td>
                    <td>Dalton</td>
                    <td>dalton@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--admin">
                    <td>11</td>
                    <td>Seiji</td>
                    <td>seiji@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--admin">
                    <td>12</td>
                    <td>Sanjay</td>
                    <td>sanjay@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--warn">
                    <td>13</td>
                    <td>Iris</td>
                    <td>iris@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
                <tr class="row--warn">
                    <td>14</td>
                    <td>Frederico</td>
                    <td>frederico@example.com</td>
                    <td><a href="#">Contact</a></td>
                </tr>
            </tbody>
        </table>

    <h2>7. Forms</h2>

        <h3>7.1 Basic Forms</h3>

            <!-- Include validation states and copy, disabled states -->

            <p>
                Forms are perhaps the most complicated part of any web design. The Descovrir style guide provides a usable, consistent, comprehensive approach to form elements.
            </p>

            <form>
                <h3>
                    A basic form
                </h3>
                <div class="form-description">
                    A description of a basic form.
                </div>
                <div class="form-field form-field--text">
                    <label for="name">Name</label>
                    <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
                    <p class="form-field__description">
                        Your name belongs in the box
                    </p>
                </div>
                <div class="form-field form-field--boolean">
                    <label for="spam">
                        <input name="spam" id="spam" type="checkbox" value="y">
                        Send me spam
                    </label>
                </div>
                <div class="form-field form-field--textarea">
                    <label for="thoughts">My thoughts on spam</label>
                    <textarea cols="40" id="thoughts" name="thoughts" rows="4"></textarea>
                </div>
                <button type="submit">
                    <i class="icon-ok"></i>
                    Send
                </button>
            </form>

            <p>
                Most standard forms start with a title and short description of the form.
            </p>

            <p>
                Form fields are wrapped in a class of <code>form-field</code> and the type of the form field, such as <code>form-field--text</code>. Forms typically have labels above the field and descriptions below the field, validation messages to the right of the field, and only a single column of fields. Most forms terminate with one, and only one, primary action button and several possible secondary actions. Form fields may have the following elements:
            </p>

            <ul>
                <li>Hover, focus, active, success, warning, error, and disabled states and messaging</li>
                <li>Icons prepended or appended to the field</li>
                <li>Field labels</li>
                <li>Required or optional labels</li>
                <li>Field descriptions</li>
                <li>Placeholder attribute</li>
            </ul>

            <h4>7.1.1 Text Inputs</h4>

                <form>
                    <div class="form-field form-field--text">
                        <input type="text" placeholder="Example text input" />
                    </div>

                    <div class="form-field form-field--text form-field--disabled">
                        <label>Disabled</label>
                        <input type="text" placeholder="Example disabled" disabled="disabled" />
                    </div>

                    <div class="form-field form-field--text form-field--success">
                        <label>Success</label>
                        <input type="text" placeholder="Example success" />
                        <span class="form-field__feedback">
                            <i class="icon-check"></i>
                            This is a succes
                        </span>
                    </div>

                    <div class="form-field form-field--text form-field--warning">
                        <label>Warning</label>
                        <input type="text" placeholder="Example warning" />
                        <span class="form-field__feedback">
                            <i class="icon-exclamation"></i>
                            This is a warning
                        </span>
                    </div>

                    <div class="form-field form-field--text form-field--error">
                        <label>Error</label>
                        <input type="text" placeholder="Example error" />
                        <span class="form-field__feedback">
                            <i class="icon-ban-circle"></i>
                            This is a error
                        </span>
                    </div>
                </form>

                <h5>7.1.1.1 Email Inputs</h5>

                    <input type="email" placeholder="e.g. alice@example.com" />

                <h5>7.1.1.2 Number Inputs</h5>

                    <input type="number" placeholder="0" />

                <h5>7.1.1.3 URL Inputs</h5>

                    <input type="url" placeholder="e.g. http://google.com" />

                <h5>7.1.1.4 Date and Time Inputs</h5>

                    <input type="time" step="1" />

                <h5>7.1.1.5 Search Inputs</h5>

                    <input type="search" placeholder="Search" />

                    <h6>7.1.1.5.1 Search Suggestion Inputs</h6>

                        <input type="search" placeholder="Search" autocomplete="off" />

                <h5>7.1.1.6 Telephone Inputs</h5>

                    <input type="tel" placeholder="e.g. 515-481-9182" />

                <h5>7.1.1.7 Password Inputs</h5>

                    <input type="password" />

                <h5>7.1.1.8 Range Inputs</h5>

                    <p>
                        Range elements do not use sliders. Instead, ranges are input as two text fields.
                    </p>

                    <input type="number" placeholder="Min" />
                    <input type="number" placeholder="Max" />

            <h4>7.1.2 Textareas</h4>

                <textarea cols="40" id="thoughts" name="thoughts" rows="4"></textarea>

            <h4>7.1.3 Selections</h4>

                <h5>7.1.3.1 Checkboxes</h5>

                    <h6>7.1.3.1.1 List of Checkboxes</h6>

                        <ul class="unstyled">
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox" value="option1"> Option 1
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox" value="option1"> Option 2
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox" value="option1"> Option 3
                                </label>
                            </li>
                        </ul>

                    <h6>7.1.3.1.2 Single Checkbox</h6>

                        <label class="checkbox">
                            <input type="checkbox" value="option1"> Option 1
                        </label>

                    <h6>7.1.3.1.2 Toggle</h6>

                        <label class="toggle">
                            <input type="checkbox" value="option1"> Option 1
                        </label>

                <h5>7.1.3.2 Radios</h5>

                        <ul class="unstyled">
                            <li>
                                <label class="radio">
                                    <input type="radio" name="radio" value="option1"> Option 1
                                </label>
                            </li>
                            <li>
                                <label class="radio">
                                    <input type="radio" name="radio" value="option1"> Option 2
                                </label>
                            </li>
                            <li>
                                <label class="radio">
                                    <input type="radio" name="radio" value="option1"> Option 3
                                </label>
                            </li>
                        </ul>

                <h5>7.1.3.3 Selection Menu</h5>

                    <p>
                        Prefer to use a list of radios over a select element. Do not use the multiple select element.
                    </p>

                    <select>
                        <option>First option 1</option>
                        <option>Second option 2</option>
                        <option>Third option 3</option>
                        <option>Fourth option 4</option>
                        <option>Fifth option 5</option>
                    </select>

                    <p>
                        When there are more than 20 items, use a typeahead feature instead of a simple select.
                    </p>

            <h4>7.1.4 Grouped Inputs</h4>

                <form>
                    <div class="form-field--grouped">
                        <div class="form-field form-field--text">
                            <label for="given-name">Given Name</label>
                            <input id="given-name" name="given-name" placeholder="" size="20" type="text" />
                        </div>
                        <div class="form-field form-field--text">
                            <label for="family-name">Family Name</label>
                            <input id="family-name" name="family-name" placeholder="" size="20" type="text" />
                        </div>
                    </div>
                </form>

        <h3>7.2 Horizontal Forms</h3>

            <form class="form--horizontal">
                <div class="form-field form-field--search">
                    <input id="name" name="name" placeholder="Search" size="20" type="search" />
                </div>
                <div class="form-field form-field--boolean">
                    <label for="spam">
                        <input name="spam" id="spam" type="checkbox" value="y">
                        Include all types
                    </label>
                </div>
                <button type="submit">
                    <i class="icon-search"></i>
                    Search
                </button>
            </form>

        <h3>7.3 Form Field Labels and Descriptions</h3>

            <h4>7.3.1 Field labels</h4>

                <p>
                    Every field that is not in a horizontal form has a label. The label clicks to focus on the related form element.
                </p>

                <form>
                    <div class="form-field form-field--text">
                        <label for="name">Name</label>
                        <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
                    </div>
                </form>

            <h4>7.3.2 Optional and Required Fields</h4>

                <p>
                    The label may contain a <code>span</code> with either <code>optional</code> or <code>required</code> as the class and copy to indicate the field is either required or optional. More useful for forms with more than three fields or several sections.
                </p>

                <form>
                    <div class="form-field form-field--text">
                        <label for="name">Name <span class="required">required</span></label>
                        <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
                    </div>
                </form>

            <h4>7.3.3 Field Descriptions</h4>

                <p>
                    In the standard vertical layout, each form field may have a short description below the field. These descriptions are particularly useful when the user may not understand the expected input, or has reservations about why the field is necessary or benefitial.
                </p>

                <form>
                    <div class="form-field form-field--text">
                        <label for="name">Name</label>
                        <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
                        <p class="form-field__description">
                            We need a name to identify you to other users.
                        </p>
                    </div>
                </form>

        <h3>7.4 Fieldsets and Legends</h3>

            <p>
                Many users have difficult with forms with more than three fields. In such situations, it is useful to group the fields into fieldsets and legends to segment the field. These fieldsets can also be constructed as a step-by-step wizard.
            </p>

            <form>
                <div class="form-field form-field--text">
                    <label for="name">Name</label>
                    <input id="name" name="name" placeholder="e.g. Marissa" size="50" type="text" />
                    <p class="form-field__description">
                        Your name belongs in the box
                    </p>
                </div>
                <fieldset>
                    <legend>Spam Fields</legend>
                    <div class="form-field form-field--boolean">
                        <label for="spam">
                            <input name="spam" id="spam" type="checkbox" value="y">
                            Send me spam
                        </label>
                    </div>
                    <div class="form-field form-field--textarea">
                        <label for="thoughts">My thoughts on spam</label>
                        <textarea cols="40" id="thoughts" name="thoughts" rows="4"></textarea>
                    </div>
                </fieldset>
                <button type="submit">
                    <i class="icon-ok"></i>
                    Send
                </button>
            </form>

    <h2>8. Buttons</h2>

        <h3>8.1 Buttons by Role</h3>

            <ul class="unstyled">
                <li>
                    <button class="button--primary">
                        Primary
                    </button>

                    Navigation, Next
                </li>
                <li>
                    <button class="button--secondary">
                        Secondary
                    </button>

                    Success, Accept
                </li>
                <li>
                    <button class="button--danger">
                        Danger
                    </button>

                    Error, Delete
                </li>
                <li>
                    <button class="button--cancel">
                        Cancel
                    </button>

                    Escape, Previous, Back, Information
                </li>
            </ul>

        <h3>8.2 Normal size, Large size, Epic size</h3>

            <ul class="inline">
                <li>
                    <button class="button--primary">
                        Normal
                    </button>
                </li>
                <li>
                    <button class="button--primary button--large">
                        Large
                    </button>
                </li>
                <li>
                    <button class="button--primary button--epic">
                        Epic
                    </button>
                </li>
            </ul>

        <h3>8.3 Buttons with Icons</h3>

            <ul class="inline">
                <li>
                    <button class="button--primary">
                        Next Page
                        <i class="icon-chevron-right"></i>
                    </button>
                </li>
                <li>
                    <button class="button--secondary">
                        <i class="icon-edit"></i>
                        Edit
                    </button>
                </li>
                <li>
                    <button class="button--danger">
                        <i class="icon-trash"></i>
                        Delete
                    </button>
                </li>
                <li>
                    <button class="button--cancel">
                        <i class="icon-refresh"></i>
                        Resume
                    </button>
                </li>
            </ul>

        <h3>8.4 Disabled Buttons</h3>

            <ul class="inline">
                <li>
                    <button class="button--primary" disabled>
                        Next Page
                        <i class="icon-chevron-right"></i>
                    </button>
                </li>
                <li>
                    <button class="button--secondary" disabled>
                        <i class="icon-edit"></i>
                        Edit
                    </button>
                </li>
                <li>
                    <button class="button--danger" disabled>
                        <i class="icon-trash"></i>
                        Delete
                    </button>
                </li>
                <li>
                    <button class="button--cancel" disabled>
                        <i class="icon-refresh"></i>
                        Resume
                    </button>
                </li>
            </ul>

        <h3>8.5 Button groups</h3>

            <div class="button-group">
                <button class="button--primary">
                    <i class="icon-heart"></i> Primary
                </button>
                <button class="button--secondary">
                    <i class="icon-star"></i> Secondary
                </button>
                <button class="button">
                    <i class="icon-refresh"></i> Refresh
                </button>
                <button class="button--cancel">
                    <i class="icon-ban-circle"></i> Cancel
                </button>
            </div>

    <h2>9. Navigation</h2>

        <!-- Include responsive management -->

        <h3>9.1 Horizonal Navigation</h3>

            <nav class="navigation">
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="selected">
                            Learn
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Propose
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Analyze
                        </a>
                    </li>
                </ul>
            </nav>

        <h3>9.2 Vertical Navigation</h3>

            <nav class="navigation--vertical">
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="selected">
                            Learn
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Propose
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Analyze
                        </a>
                    </li>
                </ul>
            </nav>

        <h3>9.3 Horizontal Tabs</h3>

            <div class="tabs">
                <ul class="tabs__nav">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="selected">
                            Learn
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Propose
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Analyze
                        </a>
                    </li>
                </ul>
                <div class="tabs__pages">
                    <div class="tabs__page">Home Page</div>
                    <div class="tabs__page">Learn Page</div>
                    <div class="tabs__page">Propose Page</div>
                    <div class="tabs__page">Analyze Page</div>
                </div>
            </div>

        <h3>9.4 Vertical Tabs</h3>

            <div class="tabs--vertical">
                <ul class="tabs__nav">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="selected">
                            Learn
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Propose
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Analyze
                        </a>
                    </li>
                </ul>
                <div class="tabs__pages">
                    <div class="tabs__page">Home Page</div>
                    <div class="tabs__page">Learn Page</div>
                    <div class="tabs__page">Propose Page</div>
                    <div class="tabs__page">Analyze Page</div>
                </div>
            </div>

        <h3>9.5 Breadcrumbs</h3>

            <nav class="breadcrumbs">
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Learn
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Propose
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Analyze
                        </a>
                    </li>
                </ul>
            </nav>

        <h3>9.6 Wizard</h3>

            <nav class="wizard">
                <ol>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="selected">
                            Learn
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Propose
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Analyze
                        </a>
                    </li>
                </ol>
            </nav>


        <h3>9.7 Pagination</h3>

            <div class="pagination">
                <div class="pagination__location">
                    Page 1 of 12
                </div>
                <ul>
                    <li>
                        <a href="#">Back</a>
                    </li>
                    <li>
                        <a href="#" class="selected">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li class="pagination__separator">&ellip;</li>
                    <li>
                        <a href="#">11</a>
                    </li>
                    <li>
                        <a href="#">12</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>

        <h3>9.8 Menu Navigation</h3>

            <p>
                Descovrir's most common navigational element is a simple menu. The user clicks on the Descovrir icon, and a pane of menu options, similar to the iOS home screen, can provide the user with more functionality. This helps to prevent cognitive overload.
            </p>

    <h2>10. Elements</h2>

        <h3>10.1 Tooltips</h3>

            <p>
                Simply using the <code>data-title</code> attribute creates a tooltip over an element.
            </p>

            <p>
                <a href="#" data-title="Auto tooltip">An example</a> of a tooltip
            </p>

        <h3>10.2 Tags &amp; Keywords</h3>

            <p>
                Tag clouds are fun. They can also be a useful representation to compare between quickly.
            </p>

            <ul class="tags">
                <li class="tags__tag--weight-5"><a href="#">Enroll</a></li>
                <li class="tags__tag--weight-1"><a href="#">Get</a></li>
                <li class="tags__tag--weight-2"><a href="#">Read</a></li>
                <li class="tags__tag--weight-3"><a href="#">Study</a></li>
                <li class="tags__tag--weight-8"><a href="#">Learn</a></li>
                <li class="tags__tag--weight-5"><a href="#">Pick up</a></li>
                <li class="tags__tag--weight-4"><a href="#">Gain</a></li>
                <li class="tags__tag--weight-9"><a href="#">Determine</a></li>
                <li class="tags__tag--weight-1"><a href="#">Grasp</a></li>
                <li class="tags__tag--weight-2"><a href="#">Attain</a></li>
            </ul>

        <h3>10.3 Alerts &amp; Errors</h3>

            <p>
                Systemic-alerts are often used when an error has occured.
                Alerts are fixed to the page until a user chooses to close them.
            </p>

            <div class="alert--error">
                We are sorry, but an error has occurred. Please reload the page.
                <a href="#">Close</a>
            </div>

            <p>
                Very serious alerts can force the user to reload the page. This situation calls for a modal.
            </p>

        <h3>10.4 Overlays &amp; Modals</h3>

            <p>
                Modals are only used in extraordinary cases. Prefer to append inline over using a modal.
            </p>

            <figure>
                <div class="modal">
                    <div class="modal__overlay"></div>
                    <div class="modal__container">
                        <div class="modal__header">
                            <h3>Some header text</h3>
                            <a href="#" class="modal__close">&times;</a>
                        </div>
                        <div class="modal__body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="modal_footer">
                            <button class="button--secondary">Submit</button>
                        </div>
                    </div>
                </div>
            </figure>

        <h3>10.5 Notifications</h3>

            <p>
                TBD
            </p>

        <h3>10.6 Discussion</h3>

            <p>
                Discussions are common on just about any social site. A default layout helps to bring consistency to these discussions.
                Discussions can also be modified to achieve the goal of the widget.
            </p>

            <ul class="discussion">
                <li>
                    <img src="http://placehold.it/48/e7e3c7/aaa354" data-title="username" class="discussion__avatar" />
                    <div class="discussion__message">
                        <div class="discussion__user__name">
                            username
                        </div>
                        <div class="discussion__when">
                            52 minutes ago
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>
                        <div class="discussion__footer">
                            <a href="#">Edit</a>
                            <a href="#">Share</a>
                            <a href="#">Flag</a>
                        </div>
                    </div>
                </li>
            </ul>

            <h4>10.6.1 Discussion &ndash; List of Subjects</h4>

                <table class="discussion-list">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Category</th>
                            <th>Posts</th>
                            <th>Views</th>
                            <th>Last Modified</th>
                        </tr>
                    </thead>
                </table>

        <h3>10.7 Audio, Video, &amp; Embedded Objects</h3>

            <p>
                Descovir uses YouTube, Vimeo, Soundcloud, Slideshare, and third party
                resources to render media elements. These elements are embedded by a simple
                <code>iframe</code> tag, with no customization other than size.
            </p>

            <iframe width="420" height="315" src="http://www.youtube.com/embed/z3U0udLH974" frameborder="0" allowfullscreen></iframe>

        <h3>10.8 Progressbars &amp; Spinners</h3>

            <p>
                Descovrir uses <a href="http://fgnass.github.io/spin.js/">Spin.js</a> for spinners.
            </p>

            <div class="spinner"></div>

            <p>
                For progress bars, use the <code>progress</code> tag.
            </p>

            <progress max="70"><span>0</span>%</progress>

        <h3>10.8 Badges, Trophies &amp; Awards</h3>

            <i class="icon-star"></i>
            <i class="icon-shield"></i>
            <i class="icon-trophy"></i>

        <h3>10.9 Inline Editing</h3>

        <h3>10.10 Tips, Suggestions &amp; Inline Help</h3>

        <h3>10.11 Dropdowns</h3>

        <h3>10.12 Default Animations</h3>

        <h3>10.13 Uploading Images</h3>

        <hr />

        <p>
            More elements to come: galleries, heros, accordions, statistics...
        </p>

    <h2>11. Page Layouts</h2>

        <h3>11.1 Basic Page Layout</h3>

            <p>
                Most pages on Descovrir are limited to a menu icon, a title, body contents, and end in linear navigation. This simplicity forces focus on the task at hand.
            </p>

            <p>
                Set the body to <code>max-width-10</code>. Use an <code>h1</code> at the top. End with linear navigation and a menu element.
            </p>

        <h3>11.2 Navigated Page Layout</h3>

            <p>
                A page that has been intentionally navigated to includes breadcrumbs or other navigational feature where applicable.
            </p>

            <p>
                Before the <code>h1</code> of &sect;11.1, include breadcrumbs navigation. Alternatively, set the body to <code>aside-right-3</code>, and use vertical navigation in the <code>aside</code>.
            </p>

        <h3>11.3 Object Representation</h3>

            <p>
                Provide an overview of information about an object. Examples are a user profile, component statistics, or a history of changes.
            </p>

            <p>
                Start with <code>aside-left-4</code>. Include a <var>264x264</var> image at top top of the <code>aside</code>. The <code>main</code> element starts with an <code>h1</code>. Delegate concise, vital statistics and information to the <code>aside</code>, and primary content to the <code>main</code>.
            </p>

        <h3>11.4 Settings</h3>

            <p>
                Some views transverse Descovrir's sections (Learn, Contribute, Mentor...).
            </p>

            <p>
                Borrowing the &sect;11.1 Basic Page Layout, and add horizontal tabs across the top. Alternatively, set the body to <code>aside-right-3</code>, and use vertical navigation in the <code>aside</code>. Keep to a single column form.
            </p>

        <h3>11.5 Search, Sort, &amp; Filter</h3>

            <p>
                The search with filters layout is based on a simple aside layout.
            </p>

            <p>
                Set the body to <code>aside-right-3</code>, and use vertical navigation for filters in the <code>aside</code>. Include sorting options in the aside. Start the <code>main</code> element with an <code>h1</code> and possibly breadcrumbs. Then include a large search bar. Show a list with thumbnails in infinite scroll below the search bar. Manage empty states.
            </p>

    <h2>12. Concluding Remarks</h2>

        <h3>12.1 Extending with BEM</h3>

            <p>
                Non-tag elements in the Descovrir ecosystem use the <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM syntax</a>.
            </p>

        <h3>12.2 JavaScript and CSS classes</h3>

            <p>
                Classes and IDs used only for JavaScript are prepended by <code>js-</code>. Style-based classes, other than for forms, navigation, and elements are not used in JavaScript.
            </p>

        <h3>12.3 Additions</h3>

            <p>
                Prefer to add components to the general styleguide than inventing new components for specific interfaces. Reuse ensures code maintainability and efficiency.
            </p>

        <h3>12.4 Browser support</h3>

            <p>
                At this time, Descovrir supports the major browsers, Chrome, Safari, Firefox, &amp; Internet Explorer, at the latest consumer version and the latest immediately-previous major consumer version. As of <time>2013 August 24</time>:
            </p>

            <ul>
                <li><strong>Chrome</strong>: 29, 28</li>
                <li><strong>Safari</strong>: 6, 5.1</li>
                <li><strong>Firefox</strong>: 23, 22</li>
                <li><strong>Internet Explorer</strong>: 10, 9</li>
            </ul>
